#header-body .content .icon-logo-trend,
#header-body .content .icon-logo-deco,
#header-body .content .icon-logo {
    width: 168px;
    height: 60px;
    background: url('../img/sprite.png') no-repeat -11px -10px;
    background-size: 500px 500px;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    z-index: 300;
}


.icon.icon-banner1 {
    background: url('../img/sprite.png') no-repeat -2px -259px;
    background-size: 490px 490px;
}
.icon.icon-banner2 {
    background: url('../img/sprite.png') no-repeat -64px -269px;
    background-size: 490px 490px;
    height: 50px !important;
}
.icon.icon-banner3 {
    background: url('../img/sprite.png') no-repeat -154px -268px;
    background-size: 490px 490px;
}

/*Buttons icons*/
.btn.btn-return:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 10px;
    background: url('../img/sprite.png') no-repeat -115px -79px;
    background-size: 490px 490px;
    left: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.btn.btn-detailed:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 10px;
    background: url('../img/sprite.png') no-repeat -132px -79px;
    background-size: 490px 490px;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.btn.btn-detailed.header:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 10px;
    background: url('../img/sprite.png') no-repeat -115px -79px;
    background-size: 490px 490px;
    right: 190px;
    top: 2px;
    bottom: 0;
    margin: auto;
}
/*Zoom icon*/
.zoom:before {
    display: inline-block;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 40px;
    left: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url('../img/sprite.png') no-repeat -178px -129px;
    background-size: 490px 490px;
}

/*Comment icon*/
.icon.icon-answer-logo {
    background: url('../img/sprite.png') no-repeat -3px -3px;
    background-size: 230px 230px;
    width: 84px;
    height: 30px;
    display: inline-block;
}


.icon.silhouette {
    background: url('../img/sprite.png') no-repeat -167px -193px;
    background-size: 475px 475px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    top: 10px;
}
.icon.silhouette.big {
    background: url('../img/sprite.png') no-repeat -195px -193px;
    background-size: 475px 475px;
    width: 30px;
    height: 26px;
    display: inline-block;
}

/*USER ICONS*/
.user-menu .icon {
    width: 20px;
    height: 20px;
}
.user-menu .icon-login {
    background: url('../img/sprite.png') no-repeat -8px -156px;
    background-size: 480px 480px;
}
.user-menu .icon-heart {
    background: url('../img/sprite.png') no-repeat -37px -156px;
    background-size: 480px 480px;
}
.user-menu .icon-heart.active {
    background: url('../img/sprite.png') no-repeat -91px -156px;
    background-size: 480px 480px;
}
.user-menu .icon-bag {
    background: url('../img/sprite.png') no-repeat -64px -156px;
    background-size: 480px 480px;
}

.user-menu .icon-down {
    background: url('../img/sprite.png') no-repeat -76px -81px;
    background-size: 490px 490px;
    width: 10px;
    height: 6px;
    margin-left: 5px;
}
.icon.icon-delete {
    width: 10px;
    height: 10px;
    background: url('../img/sprite.png') no-repeat -96px -79px;
    background-size: 490px 490px;
    display: inline-block;
}
/*TREND & DECO icons in footer*/
.footer-logo div a.icon.icon-footer-trend {
    display: inline-block;
    background: url('../img/sprite.png') no-repeat -305px -13px;
    background-size: 500px 500px;
    width: 111px;
    height: 45px;
}
.footer-logo div a.icon.icon-footer-deco {
    display: inline-block;
    background: url('../img/sprite.png') no-repeat -184px -9px;
    background-size: 500px 500px;
    width: 111px;
    height: 45px;
}
/*Footer contacts icons*/

.icon.icon-top {
    background: url('../img/sprite.png') no-repeat -10px -80px;
    background-size: 490px 490px;
    width: 18px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
}
.footer-contacts .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.footer-contacts .icon.icon-about {
    background: url('../img/sprite.png') no-repeat -9px -99px;
    background-size: 490px 490px;
}
.footer-contacts .icon.icon-trend {
    background: url('../img/sprite.png') no-repeat -37px -99px;
    background-size: 490px 490px;
}
.footer-contacts .icon.icon-delivery {
    background: url('../img/sprite.png') no-repeat -66px -99px;
    background-size: 490px 490px;
}
.footer-contacts .icon.icon-blog {
    background: url('../img/sprite.png') no-repeat -93px -99px;
    background-size: 490px 490px;
}
.footer-contacts .icon.icon-testimonials {
    background: url('../img/sprite.png') no-repeat -120px -99px;
    background-size: 490px 490px;
}
.footer-contacts .icon.icon-contacts {
    background: url('../img/sprite.png') no-repeat -149px -99px;
    background-size: 490px 490px;
}
.social .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
}
.social .icon.icon-fb {
    background: url('../img/sprite.png') no-repeat -8px -128px;
    background-size: 490px 490px;
}
.social .icon.icon-vk {
    background: url('../img/sprite.png') no-repeat -34px -128px;
    background-size: 490px 490px;
}
.social .icon.icon-p {
    background: url('../img/sprite.png') no-repeat -62px -128px;
    background-size: 490px 490px;
}
.social .icon.icon-youtube {
    background: url('../img/sprite.png') no-repeat -89px -128px;
    background-size: 490px 490px;
}
.social .icon.icon-inst {
    background: url('../img/sprite.png') no-repeat -120px -128px;
    background-size: 490px 490px;
}

.social .icon.icon-tweet.grey {
    background: url('../img/sprite.png') no-repeat -239px -200px;
    background-size: 490px 490px;
}
.social .icon.icon-fb.grey {
    background: url('../img/sprite.png') no-repeat -266px -200px;
    background-size: 490px 490px;
}
.social .icon.icon-vk.grey {
    background: url('../img/sprite.png') no-repeat -291px -198px;
    background-size: 490px 490px;
}

/*HIDDEN DESCRIPTION*/
.btn-expand:after {
    content: '';
    background: url('../img/sprite.png') no-repeat -37px -81px;
    background-size: 490px 490px;
    width: 10px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.btn-expand.opened:after {
    content: '';
    background: url('../img/sprite.png') no-repeat -57px -81px;
    background-size: 490px 490px;
    width: 10px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.icon.icon-pen {
    background: url('../img/sprite.png') no-repeat -188px -67px;
    background-size: 480px 480px;
    width: 60px;
    height: 42px;
    display: inline-block;
}
.block-right .icon-box .icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: red;
    position: relative;
}
.block-right .icon-box .icon.icon-my-bag {
    background: url('../img/sprite.png') no-repeat -139px -226px;
    background-size: 490px 490px;
}
.block-right .icon-box .icon.icon-delivery {
    background: url('../img/sprite.png') no-repeat -38px -193px;
    background-size: 490px 490px;
}
.block-right .icon-box .icon.icon-delivery.active {
    background: url('../img/sprite.png') no-repeat -38px -224px;
    background-size: 490px 490px;
}
.block-right .icon-box .icon.icon-payment {
    background: url('../img/sprite.png') no-repeat -73px -195px;
    background-size: 490px 490px;
}
.block-right .icon-box .icon.icon-payment.active {
    background: url('../img/sprite.png') no-repeat -73px -226px;
    background-size: 490px 490px;
}
.block-right .icon-box .icon.icon-finish {
    background: url('../img/sprite.png') no-repeat -107px -194px;
    background-size: 490px 490px;
}
.block-right .icon-box .icon.icon-finish.active {
    background: url('../img/sprite.png') no-repeat -107px -226px;
    background-size: 490px 490px;
}
.icon.icon-arrow {
    display: inline-block;
    width: 131px;
    height: 32px;
    background: url('../img/sprite.png') no-repeat -261px -72px;
    background-size: 490px 490px;
}
.icon.icon-arrow.right {
    background: url('../img/sprite.png') no-repeat -261px -114px;
    background-size: 490px 490px;
}
.icon.icon-accepted,
.icon.icon-cancelled,
.icon.icon-label {
    width: 20px;
    height: 20px;
    background: url('../img/sprite.png') no-repeat -253px -158px;
    background-size: 480px 480px;
    display: inline-block;
}
.icon.icon-cancelled {
    background: url('../img/sprite.png') no-repeat  -275px -161px;
    background-size: 480px 480px;
}
.icon.icon-label {
    background: url('../img/sprite.png') no-repeat -224px -158px;
    background-size: 480px 480px;
    vertical-align: middle;
}
.icon.icon-gift {
    display: inline-block;
    background: url('../img/sprite.png') no-repeat -296px -155px;
    background-size: 480px 480px;
    width: 30px;
    height: 30px;
    bottom: 5px;
    position: relative;
    margin-right: 10px;
}

.heart-chosen {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url('../img/sprite.png') no-repeat -120px -157px;
    background-size: 480px 480px;
    width: 20px;
    height: 20px;
    z-index: 600;
}
.heart-chosen:hover {
    background: url('../img/sprite.png') no-repeat -91px -157px;
    background-size: 480px 480px;
    width: 20px;
    height: 20px;
}
.heart-chosen.active,
.link.heart:hover .silhouette {
    background: url('../img/sprite.png') no-repeat -91px -157px;
    background-size: 480px 480px;
    width: 20px;
    height: 20px;
}
.silhouette.big.active,
.link.heart:hover .silhouette.big {
    background: url('../img/sprite.png') no-repeat -186px -158px;
    background-size: 480px 480px;
    width: 30px;
    height: 26px;
}
.heart-chosen.big {
    background: url('../img/sprite.png') no-repeat -148px -158px;
    background-size: 480px 480px;
    width: 30px;
    height: 26px;
}

.heart-chosen.big:hover {
    background: url('../img/sprite.png') no-repeat -186px -158px;
    background-size: 480px 480px;
}

.heart-chosen.big.active {
    background: url('../img/sprite.png') no-repeat -186px -158px;
    background-size: 480px 480px;
}

.icon.icon-delete,
.icon.icon-close {
    width: 15px;
    height: 15px;
    background: url('../img/sprite.png') no-repeat -111px -92px;
    background-size: 580px 580px;
    margin-top: 2px;
    margin-left: 10px;
    display: inline-block;
}
.stars .stars-image {
    background: url('../img/sprite.png') no-repeat -6px -226px;
    background-size: 490px 490px;
    width: 25px;
    height: 20px;
    display: inline-block;
    position: relative;
    z-index: 300;
}
.stars.white .stars-image {
    background: url('../img/sprite.png') no-repeat -321px -235px;
    background-size: 490px 490px;
    width: 25px;
    height: 20px;
    display: inline-block;
    position: relative;
    z-index: 300;
}
.stars.small .stars-image {
    background: url('../img/sprite.png') no-repeat -310px -89px;
    background-size: 490px 490px;
    width: 20px;
    height: 15px;
    display: inline-block;
    position: relative;
    z-index: 300;
}