.main-header-logo {
    width: 200px;
    height: 60px;
    background: url('../img/sprite.png') no-repeat -270px -289px;
    background-size: 480px 480px;
    display: inline-block;
    zoom: 0.8;
}
.medium-logo {
    width: 130px;
    height: 35px;
    background: url('../img/sprite.png') no-repeat -174px -194px;
    background-size: 310px 320px;
    display: inline-block;
}
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.icon-eye {
    background: url('../img/sprite.png') no-repeat -372px -53px;
    background-size: 500px 500px;
    vertical-align: middle;
    margin-right: 2px;
}
.icon-close {
    background: url('../img/sprite.png') no-repeat -374px -33px;
    background-size: 500px 500px;
    vertical-align: middle;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.icon-logo {
    width: 40px;
    height: 40px;
    background: url('../img/sprite.png') no-repeat -236px -129px;
    background-size: 300px 300px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.icon-blog {
    background: url('../img/sprite.png') no-repeat -7px -50px;
    background-size: 500px 500px;
    vertical-align: middle;
    margin-right: 5px;
}
.icon-discount {
    background: url('../img/sprite.png') no-repeat -34px -50px;
    background-size: 500px 500px;
    vertical-align: middle;
    margin-right: 5px;
}
.icon-testimonials {
    background: url('../img/sprite.png') no-repeat -64px -50px;
    background-size: 500px 500px;
    vertical-align: middle;
    margin-right: 5px;
}
.icon-mail {
    background: url('../img/sprite.png') no-repeat -94px -50px;
    background-size: 500px 500px;
    vertical-align: middle;
    margin-right: 5px;
}

.icon-search {
    background: url('../img/sprite.png') no-repeat -124px -52px;
    background-size: 500px 500px;
    vertical-align: middle;
    cursor: pointer;
}

.icon-person {
    background: url('../img/sprite.png') no-repeat -154px -52px;
    background-size: 500px 500px;
    vertical-align: middle;
}
.icon-bag {
    width: 20px;
    height: 21px;
    background: url('../img/sprite.png') no-repeat -318px -164px;
    background-size: 465px 465px;
    vertical-align: middle;

    /*background: url('../img/sprite.png') no-repeat -7px -308px;*/
    /*background-size: 340px 340px;*/
}
.icon-bag-grey {
    width: 20px;
    height: 21px;
    background: url('../img/sprite.png') no-repeat -346px -163px;
    background-size: 465px 465px;
    vertical-align: middle;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.icon-bag-white {
    width: 20px;
    height: 21px;
    background: url('../img/sprite.png') no-repeat -91px -308px;
    background-size: 340px 340px;
    vertical-align: middle;
}
.not-empty .icon-bag {
    width: 20px;
    height: 21px;
    background: url('../img/sprite.png') no-repeat -290px -164px;
    background-size: 465px 465px;
    vertical-align: middle;
}
.icon-phone {
    background: url('../img/sprite.png') no-repeat -282px -53px;
    background-size: 500px 500px;
    vertical-align: middle;
}
.icon-footer-logo {
    background: url('../img/sprite.png') no-repeat -274px -271px;
    background-size: 370px 370px;
    vertical-align: middle;
    width: 90px;
    height: 90px;
}
.icon-yb {
    background: url('../img/cola.png') no-repeat -6px -74px;
    background-size: 470px 470px;
    vertical-align: middle;
}
.icon-pi {
    background: url('../img/cola.png') no-repeat -6px -18px;
    background-size: 470px 470px;
    vertical-align: middle;
}
.icon-od {
    background: url('../img/cola.png') no-repeat -34px -18px;
    background-size: 500px 500px;
    vertical-align: middle;
}
.icon-fb {
    width: 12px;
    background: url('../img/sprite.png') no-repeat -242px -52px;
    background-size: 500px 500px;
    vertical-align: middle;
}
.icon-vk {
    background: url('../img/sprite.png') no-repeat -214px -52px;
    background-size: 500px 500px;
    vertical-align: middle;
}
.icon-inst {
    background: url('../img/sprite.png') no-repeat -184px -52px;
    background-size: 500px 500px;
    vertical-align: middle;
}
.icon-kb {
    background: url('../img/sprite.png') no-repeat -258px -52px;
    background-size: 500px 500px;
    vertical-align: middle;
}
.icon-fb.inactive {
    width: 30px;
    height: 30px;
    background: url('../img/sprite.png') no-repeat -38px -93px;
    background-size: 270px 270px;
    vertical-align: middle;
}
.icon-vk.inactive {
    width: 30px;
    height: 30px;
    background: url('../img/sprite.png') no-repeat -38px -127px;
    background-size: 270px 270px;
    vertical-align: middle;
}
.icon-arrow-down {
    background: url('../img/sprite.png') no-repeat -280px -46px;
    background-size: 450px 450px;
    vertical-align: middle;
}
.icon-reload {
    width: 40px;
    height: 40px;
    background: url('../img/sprite.png') no-repeat -10px -119px;
    background-size: 500px 500px;
    vertical-align:top;
}
.icon-percent {
    width: 40px;
    height: 40px;
    background: url('../img/sprite.png') no-repeat -55px -123px;
    background-size: 500px 500px;
    vertical-align: top;
}
.icon-min-bag {
    width: 40px;
    height: 40px;
    background: url('../img/sprite.png') no-repeat -98px -121px;
    background-size: 500px 500px;
    vertical-align: top;
}
.icon-boxes {
    width: 40px;
    height: 40px;
    background: url('../img/sprite.png') no-repeat -142px -115px;
    background-size: 480px 480px;
    vertical-align: top;
}
.icon-thumb-up {
    width: 40px;
    height: 40px;
    background: url('../img/sprite.png') no-repeat -198px -121px;
    background-size: 500px 500px;
    vertical-align: top;
}
.icon-72-hours {
    width: 40px;
    height: 40px;
    background: url('../img/sprite.png') no-repeat -246px -123px;
    background-size: 500px 500px;
    vertical-align: top;
}
.icon-round-yb {
    width: 50px;
    height: 50px;
    background: url('../img/cola.png') no-repeat -109px -60px;
    background-size: 470px 470px;
    vertical-align: middle;
}
.icon-round-pi {
    width: 50px;
    height: 50px;
    background: url('../img/cola.png') no-repeat -109px -6px;
    background-size: 470px 470px;
    vertical-align: middle;
}
.icon-round-ok {
    width: 50px;
    height: 50px;
    background: url('../img/cola.png') no-repeat -209px -6px;
    background-size: 470px 470px;
    vertical-align: middle;
}
.icon-round-vk {
    width: 50px;
    height: 50px;
    background: url('../img/sprite.png') no-repeat -7px -223px;
    background-size: 470px 470px;
    vertical-align: middle;
}
.icon-round-inst {
    width: 50px;
    height: 50px;
    background: url('../img/sprite.png') no-repeat -8px -281px;
    background-size: 470px 470px;
    vertical-align: middle;
}
.icon-round-fb {
    width: 50px;
    height: 50px;
    background: url('../img/sprite.png') no-repeat -10px -164px;
    background-size: 470px 470px;
    vertical-align: middle;
}
.icon-round-kb {
    width: 50px;
    height: 50px;
    background: url('../img/sprite.png') no-repeat -7px -336px;
    background-size: 470px 470px;
    vertical-align: middle;
}
.icon-arrow-b {
    background: url('../img/sprite.png') no-repeat -280px -46px;
    background-size: 450px 450px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 25px;
}

.nav-left-list .has-content .sub-menu-header:before,
.nav-left-list .no-content .sub-menu-header:before {
    position: absolute;
    content: '';
    background: url('../img/sprite.png') no-repeat -358px -50px;
    background-size: 450px 450px;
    vertical-align: middle;
    width: 10px;
    height: 11px;
    display: inline-block;
    top: 14px;
    left: 12px;
}
.nav-left-list .has-content.opened > .sub-menu-header:before,
.nav-left-list .has-content > .sub-menu-header.active:before {
    position: absolute;
    content: '';
    background: url('../img/sprite.png') no-repeat -366px -35px;
    background-size: 440px 450px;
}
.icon-slash {
    background: url('../img/sprite.png') no-repeat -435px -54px;
    background-size: 500px 500px;
    vertical-align: top;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 5px;
}
.icon-curved-arrow {
    background: url('../img/sprite.png') no-repeat -292px -126px;
    background-size: 500px 500px;
    vertical-align: middle;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 14px;
    right: 95px;
}
.comment-left {
    display: none;
    width: 160px;
    height: 90px;
    background: url('../img/sprite.png') no-repeat -136px -177px;
    background-size: 500px 500px;
    position: absolute;
    top: 100px;
    left: 120px;
}
.comment-right {
    display: none;
    width: 160px;
    height: 90px;
    background: url('../img/sprite.png') no-repeat -122px -275px;
    background-size: 500px 500px;
    position: absolute;
    top: 90px;
    right: 120px;
}
.comment-bottom {
    display: inline-block;
    width: 215px;
    height: 60px;
    background: url('../img/sprite.png') no-repeat -136px -367px;
    background-size: 500px 500px;
    position: absolute;
    top: -20px;
    left: 170px;
}
.icon-tick {
    background: url('../img/sprite.png') no-repeat -457px -53px;
    background-size: 500px 500px;
    vertical-align: top;
    width: 10px;
    height: 12px;
    display: inline-block;
    margin: 0 5px 0 0;
}
.icon-right-arrow {
    position: absolute;
    content: '';
    background: url('../img/sprite.png') no-repeat -428px -66px;
    background-size: 450px 450px;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    display: inline-block;
    top: 0;
    right: 13px;
    bottom: 0;
    margin: auto;
}
.icon-down-arrow {
    position: absolute;
    content: '';
    background: url('../img/sprite.png') no-repeat -429px -49px;
    background-size: 450px 450px;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    display: inline-block;
    top: 0;
    left: 12px;
    right: -720px;
    bottom: 0;
    margin: auto;
}
.icon-cart-green {
    position: relative;
    top: 0;
    left: -20px;
    width: 40px;
    height: 40px;
    background: url('../img/sprite.png') no-repeat -98px -79px;
    background-size: 500px 500px;
    vertical-align: middle;
}
.icon-car {
    width: 40px;
    height: 30px;
    background: url('../img/sprite.png') no-repeat -198px -81px;
    background-size: 500px 500px;
}
.icon-thumb {
    width: 25px;
    height: 35px;
    background: url('../img/sprite.png') no-repeat -251px -85px;
    background-size: 500px 500px;
}
.icon-microphone {
    width: 25px;
    height: 40px;
    background: url('../img/sprite.png') no-repeat -283px -82px;
    background-size: 500px 500px;
}

.icon-new {
    width: 20px;
    height: 20px;
    background: url('../img/sprite.png') no-repeat -147px -88px;
    background-size: 500px 500px;
    margin-right: 10px;
    vertical-align: -5px;
}
.icon-red-percent {
    width: 15px;
    height: 20px;
    background: url('../img/sprite.png') no-repeat -174px -88px;
    background-size: 500px 500px;
    margin-right: 10px;
    vertical-align: -5px;
}
.status-discount {
    background: url('../img/sprite.png') no-repeat -300px -82px;
    background-size: 360px 350px;
    width: 46px;
    height: 40px;
    position:   absolute;
    top: -5px;
    left: 10px;
    text-align: center;
    line-height: 40px;
    color:  #fff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-right: 10px;
}
.status-new {
    background: url('../img/sprite.png') no-repeat -249px -80px;
    background-size: 360px 350px;
    width: 46px;
    height: 40px;
    position:   absolute;
    top: -5px;
    left: 10px;
    text-align: center;
    line-height: 40px;
    color:  #fff;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-right: 5px;
}
.image-slider .status-discount {
    background: url('../img/sprite.png') no-repeat -434px -128px;
    background-size: 520px 550px;
    width: 60px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
}
.image-slider .status-new {
    background: url('../img/sprite.png') no-repeat -361px -128px;
    background-size: 520px 550px;
    width: 60px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
}
.stars.small .stars-image {
    background: url('../img/sprite.png') no-repeat -310px -89px;
    background-size: 490px 490px;
    width: 20px;
    height: 15px;
    display: inline-block;
    position: relative;
    z-index: 300;
}

.icon-filter-vertical.active {
    background: url('../img/sprite.png') no-repeat -348px -87px;
    background-size: 500px 500px;
    opacity: 1;
}
.icon-filter-vertical {
    display: inline-block;
    width: 22px;
    height: 23px;
    background: url('../img/sprite.png') no-repeat -374px -87px;
    background-size: 500px 500px;
    cursor: pointer;
    opacity: 0.7;
    vertical-align: middle;
    margin-left: 10px;
    zoom: 0.9;
}
.icon-filter-horizontal {
    cursor: pointer;
    display: inline-block;
    width: 22px;
    height: 23px;
    background: url('../img/sprite.png') no-repeat -437px -87px;
    background-size: 500px 500px;
    opacity: 0.7;
    vertical-align: middle;
    margin-left: 10px;
    zoom: 0.9;
}
.icon-filter-horizontal.active {
    background: url('../img/sprite.png') no-repeat -405px -87px;
    background-size: 500px 500px;
    opacity: 1;
}
.icon-sorting-down {
    background: url('../img/sprite.png') no-repeat -366px -50px;
    background-size: 440px 450px;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.detailed.added .icon-bag-grey {
    width: 20px;
    height: 21px;
    background: url('../img/sprite.png') no-repeat -91px -308px;
    background-size: 340px 340px;
    vertical-align: middle;
}