@charset "UTF-8";
* {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
    padding:0;
}
html, body{
    font-family: Tahoma,  sans-serif;
    background-color: white;
    color: #444444;
}
body{
    position: relative;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #003469;
}
li{
    list-style: none;
}
textarea{
    resize: vertical;
}
.clearfix{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/***************HEADER**********************/
.header-top{
	background-color: #003368;
	padding: 16px 15px;
	text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header-basket{
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
   margin: 0 auto;
}
.header-basket .small{
	font-weight: 400;
}
.header-basket .fa{
    margin-right: 10px;
}
.header-top .fa-bars{
	color: #fff;
    font-size: 18px;
}
.header-burger{
	display: inline-block;
	float: right;
}
.header-burger div{
	width: 25px;
	height: 2px;
	margin-bottom: 5px;
	background-color: #fff;
}
.header-burger div:last-child{
	margin-bottom: 0;
}
.header-buttons{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px; 
	font-size: 0;
	position: relative;
    margin-top: 50px; 
}
.btn-header{
	display: inline-block;
	background-color:#ececec;
	width: 48%;
	height: 40px;
	font-size: 14px;
	position: relative;
	color: #1c8621;
	box-sizing: border-box;
	vertical-align: top;
	
}
.button-enter{
	margin-left: 10px;
}
.button-enter .icon{
	margin-top: 10px; 
}
.phone-wrap{
	position: relative;
}
.phone{
	line-height: 40px;
	font-weight: bold;
}
.phone-wrap .phone:before{
	content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    left: -33px;
    top: -2px;
    bottom: 0;
    background: url(../img/sprite.png) no-repeat -110px -389px;
    background-size: 470px 470px;
}
.phone-block{
	position: absolute;
	background-color: #fff;
	top: 40px;
	left: 0;
	z-index: 1000;
	font-size: 14px;
	width: 280px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
	text-align: center;
	padding-bottom: 20px;
	border: 1px solid #c7c7c7;
	display: none;
    box-sizing: border-box;
}
.phone-block .product-list{
	color: #000;
	display: inline-block;
	margin-right: 36px;
	vertical-align: top;
	text-align: left;
}
.phone-block .number-list{
	display: inline-block;
	color: #003469;
	vertical-align: top;
}
.phone-block .product-list li{
	margin-bottom: 20px;
}
.number-list li{
	margin-bottom: 20px;
}
.work{
	margin: 10px 0;
	color: #ee0023;
}
.phone-number{
	font-size: 16px;
}
.phone-number a{
	color: #1c8621;
}
.phone-number .phone:before{
	content: '';
    display: inline-block;
    width: 30px;
    height: 20px;
	margin-right: 10px;
    background: url(../img/sprite.png) no-repeat -110px -389px;
    background-size: 470px 470px;
    vertical-align: -3px;
}
/***************HEADER END**********************/
/***************ASIDE**********************/

#side-menu{
    position: fixed;
    top:0;
   	right:0;
    width:0;
    height:100vh;
    background-color: transparent;
    overflow-x:hidden;
    z-index:1000;
}
#side-menu .side-menu{
    display:block;
    float:right;
    width:280px;
    height:100vh;
    overflow-x:hidden;
    background-color:white;
    font-size:0;
    box-sizing: border-box;
    padding: 0 10px;
}
 .close{
	float: right;
	display: inline-block;
	padding: 20px 10px;
	font-size: 14px;
	color: #003469;
}
.side-menu form{
	text-align: center; 
}
#side-menu .side-menu .search{
    display:inline-block;
    box-sizing: border-box;
    width:200px;
    height:40px;
    border:1px solid #e7e7e7;
    color: #a5a5a5;
    font-size:16px;
    padding: 10px;
}
.btn-search{
	background-color: #fff;
	border: none;
	padding:10px; 
    vertical-align: -2px;
    display: inline-block;
}
.btn-search .fa{
	color:#002f5d;
	font-size: 22px;
}
#side-menu .side-menu .menu .sub-menu,
#side-menu .side-menu .menu{
    box-sizing: border-box;
    display:inline-block;
    list-style:none;
    width:100%;
    font-size:0;
    margin:0;
    padding:0 10px;
    height:auto;
    overflow:hidden;
}
#side-menu .side-menu .menu .sub-menu{
    padding:0;
    display: none;
}
#side-menu .side-menu .menu .sub-menu.active{
    display: block;
}
#side-menu .side-menu .menu .sub-menu li,
#side-menu .side-menu .menu li{
    position:relative;
    box-sizing: border-box;
    display:inline-block;
    text-align:left;
    width:100%;
    margin:0;
    position: relative;
}
#side-menu .side-menu .menu li .wrapper i{
    position: absolute;
    top: 50%;
    right:0;
    margin-top: -20px; 
    width:40px;
    line-height: 40px;
    text-align: center;
    font-size:14px;
    color:#002f5d;
}
#side-menu .side-menu .menu li .wrapper{
    position: relative;
}
.side-menu .menu-header{
	padding: 0 10px;
}
.side-menu .menu-header p{
	font-size: 16px;
	color: #2D2D2D;
	margin-top: 20px;
	margin-bottom: 10px; 
}
#side-menu .side-menu .menu .sub-menu li a,
#side-menu .side-menu .menu li a{
    box-sizing: border-box;
    display:inline-block;
    width: 100%;
    height: auto;
    line-height:20px;
    font-weight:normal;
    font-size:14px;
    border-bottom:  1px solid #E4E4E4;
    word-wrap: break-word;
    padding: 10px 40px 10px 0; 
}
#side-menu .side-menu .menu .sub-menu li a{
    padding: 10px 0 10px 30px;
}

#side-menu .side-menu .menu li a.sale{
    color:#B94325;
}

#side-menu .side-menu .menu:last-child li:last-child a{
    border-bottom-color:#E4E4E4;
}
#side-menu .side-menu .menu:last-child{
    margin-bottom:100px;
}

#side-menu .close-menu{
    display:block;
    float:right;
    width:calc(100% - 280px);
    height:100%;
    background-color:#000;
    opacity: .4;
}

/***************ASIDE END**********************/

/***************FOOTER **********************/
.footer-main{
	padding-top: 30px;
	padding-bottom: 70px;  
	text-align: center;
	background-color: #00356A;
	color: #fff;
	position: relative;
	margin-top: 20px; 
}
.footer-main a{
	color: #fff;
}
.icons-block li{
	display: inline-block;
	margin: 7px; 
    text-align: center;
}
.icons-block{
    font-size: 0;
    text-align: center;
}
.icons-block a{
    width: 30px;
    height: 30px;
    line-height: 30px;
	font-size: 24px;
    display: inline-block;
}
.footer-list{
	margin: 35px auto;
}
.footer-list li{
	padding: 10px;
	border-bottom: 1px solid #1c4b75;
}
.footer-list a{
	color: #7faac4;
}
.service{
	margin-top: 10px; 
	font-size: 14px;
}
.footer-phone{
	display: block;
	font-size: 22px;
	margin: 20px 0;
}
.service .write-us{
	color: #6c99b7;
}
.footer{
	background-color: #20232a;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
}
.footer-content{
	text-align: center;
	margin-top: -65px;
	position: relative;
	z-index: 20;
}
.footer-content .icon{
    margin-bottom: 20px; 
}
.footer p{
	color: #fff;
	margin-bottom: 10px; 
}
.kb{
	color: #89b0c7;
}
.footer-bottom{
	margin-top: 30px; 
}
.footer-bottom li{
	margin-bottom: 10px; 
}
.footer-bottom li a{
	color: #6e6e6e;
	font-size: 14px;
}
/***************FOOTER END**********************/
/***************image-slider**********************/
.image-slider{
	min-width: 100%;
}
.image-slider .slide-img{
	display: block;
}
.image-slider .slide-img img{
	max-width: 100%;
}
/***************image-slider END**********************/

/***************main-page **********************/
.container{
    max-width: 280px;
    margin: 0 auto;
    position: relative;
}
.catalog-block header{
    text-align: center;
    margin: 10px 0;
}
.main-header-logo-block{
	width: 150px;
}
.catalog-block .text-header{
    color: #000;
    font-size: 12px;
    margin-top: 5px;
}
.content{
    margin: 20px 0;
}
.catalog-list{
    text-align: center;
    font-size: 0;
}
.catalog-list li{
    width: 135px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px; 
    text-align: center;
    font-size: 16px;
    box-sizing: border-box; 
    vertical-align: top;
}
.catalog-list li:nth-child(2n){
	margin-right: 0;
}
.catalog-list li .image{
    width: 135px;
    height: 200px;
    display: inline-block;
}
.catalog-list li .image img{
    max-width: 100%;
}
.catalog-list p{
    margin: 10px 0;
}
.category-amount{
    color: #b0b0b0;
}
.info-block {
	position: relative;
	padding: 20px 0
}
.info-block header{
    font-weight: 500px;
    font-size: 20px;
    text-align: center;
    color: #000;
   
}
.diamant-image{
    width: 290px;
    margin: 0 auto;
    margin-top: 30px; 
}
.diamant-image img{
    max-width: 100%;
}
.info-content{
    padding: 0 20px;
    text-align: center;
     position: relative;
}
.info-list{
	font-size: 0;
	height: 300px;
    overflow: hidden;
    margin: 20px 0;
}
.info-list li{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.info-list li .left{
	position: static;
}
.info-list li:after{
    content: '';
    border-bottom: 1px solid #cdcdcd;
    width: 80px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.info-list li .title{
    color: #002f5d;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.info-list li p{
    color: #696969;
}
.link-down{
	display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
   	color: #003469;
}
.turn{
	display: none;
}
.link-down .fa{
    color: #002f5d;
    display: block;
    margin-top: 10px;
}
.social-block{
    padding: 30px;
    background: #efefef;
    text-align: center;
    margin: 50px 0;
}
.social-block header{
    font-size: 20px;
    color: #000;
}
.social-block .icons-block  {
    margin-top: 40px;
    margin-bottom:30px;
}
.link-lp{
    font-size: 14px;
    color: #000;
}
.info-business-block{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 40px ;
}
.info-business-block header p{
    font-size: 20px;
    color: #000;
    margin: 10px 0;
}
.info-business-content .row{
    font-size: 0;
}
.info-business-content .row .item{
    font-size: 14px;
    display: inline-block;
    margin: 10px;
    color: #000;
    max-width: 200px;
    text-align: center;
}
.image-triangle{
    width: 135px;
    margin: 10px auto;
}
.image-triangle img{
    max-width: 100%;
}
.info-blue-block{
    background: url(../img/blue-background.jpg);
    background-size: cover;
    padding: 30px 0;
    color: #fff;
    text-align: center;
    margin: 40px 0;
}  
.info-blue-block header{
    font-size: 20px;
}
.info-blue-block .image-logo{
    width: 167px;
    margin: 25px auto;
}
.info-blue-block .image-logo img{
    max-width: 100%;
}
.images-list{
    margin: 25px 0;
} 
.images-list .row{
    font-size: 0;
    
}
.images-list .item-image{
    font-size: 14px;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top;
    width: 140px;
    box-sizing: border-box;
    text-align: center;
}
.images-list .people {
    background: url(../img/sprite2.png) no-repeat -26px -150px;
    background-size: 320px 700px;
    vertical-align: middle;
    display: inline-block;
    width: 132px;
    height: 42px;
}
.images-list .diamant {
    background: url(../img/sprite2.png) no-repeat -20px -215px;
    background-size: 320px 700px;
    vertical-align: middle;
    display: inline-block;
    width: 51px;
    height: 42px;
}
.images-list .boxes {
    background: url(../img/sprite2.png) no-repeat -25px -284px;
    background-size: 320px 700px;
    vertical-align: middle;
    display: inline-block;
    width: 50px;
    height: 42px;
}
.images-list .house {
    background: url(../img/sprite2.png) no-repeat -31px -349px;
    background-size: 320px 700px;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 42px;
}
.images-list .phone-tel {
    background: url(../img/sprite2.png) no-repeat -25px -408px;
    background-size: 320px 700px;
    vertical-align: middle;
    display: inline-block;
    width: 42px;
    height: 42px;
}
.item-numbers{
	font-size: 30px;
	margin: 15px 0;
	font-style: italic; 
}
.item-numbers sup{
	font-size: 14px;
	margin-left: 5px;
}
.comment-block header{
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.comments-list li{
    margin: 10px;
    margin-bottom: 30px;
    color: #909090;
}
.comments-list li .name{
    color: #000;
    font-size: 16px;
    font-style: normal;
}
.comments-list li p{
    margin-bottom: 10px;
    font-size: 14px;
    font-style: italic;
}
.blog-block{
	padding: 50px 0; 
}
.blog-block header{
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
}
.blog-list{
    margin-top: 35px;
    font-size: 0;
    text-align: center;
}
.blog-list li{
    max-width: 135px;
    margin-right: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    text-align: left;
}
.blog-list li:nth-child(2n){
	margin-right: 0;
}
.blog-list li .image{
    width: 135px;
    height: 108px;
    line-height: 130px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
}
.blog-list li .image img{
    max-width: 100%;
    display: inline-block;
    margin: 0 auto;
}
.date,.views{
    color: #909090;
    margin-bottom: 10px;
    text-align: left;
}
.info-about-us-block{
    padding: 10px;
    text-align: center;
}
.info-about-us-block header{
    font-size: 20px;
    color: #000;
    margin-bottom: 30px;
}
.info-about-us-block .firstP{
    max-width: 190px;
    margin: 20px auto;
}
.info-about-us-block p{
    margin: 10px 0;
    font-size: 14px;
}
.content-block{
	position: relative;
}
.info-about-us-block .content{
	height: 200px;
	overflow: hidden;
}
.expand:before{
	content: '';
    position: absolute;
    top: 260px;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom,rgba(255,255,255,0.5),#fff);
    width: 100%;
    height: 50px;
}
.expand-content:before{
	content: '';
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom,rgba(255,255,255,0.5),#fff);
    width: 100%;
    height: 50px;
}
.turn-content{
	display: none;
}
/***************main-page end**********************/


/***************header-list-block **********************/
.breadcrumb-block{
    margin-bottom: 20px;
}
.breadcrumb-list{
    font-size: 0;
}
.breadcrumb-list li{
    display: inline;
    font-size: 12px;
}
.breadcrumb-list li a{
    color: #CCCCCC;
}
.breadcrumb-list .active a{
    color: #444444;
}
.breadcrumb-list li:after{
    display: inline;
    font-weight: 900;
    font-family: Font Awesome\ 5 Free;
    content: "\f105"; 
    color: #e0e0e0;
    margin:0 10px;
    font-size: 14px;
    vertical-align: -1px;
}
.breadcrumb-list li.active:after{
	display: none;
}
/***************header-list-block end **********************/


/***************blog **********************/
.blog header{
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}
.blog header span{
    margin-left: 5px;
    color: #898989;
    font-size: 14px;
}
.blog-items{
    font-size: 0;
    text-align: center;
    border-top: 2px solid #e7e7e7;
    padding: 20px 0;
}
.blog-items .item{
    display: inline-block;
    width: 280px;
    margin-bottom: 30px;
    font-size: 14px;
   	text-align: left;
}
.item .image{
    width:280px;
 	height: 175px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 10px; 
    text-align: center;

}
.item .image img{
    max-width: 100%;
    margin: 0 auto;
}
.date-views{
    text-align: left;
}
.date-views .date,.views{
    display: inline-block;
}
.date-views .views{
    float: right;
}
.number-pages{
    margin: 20px 0;
    text-align: center;
}
.list-pages li{
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
}
.list-pages li a{
    color: #9a9a9a;
    
}
.list-pages li:last-child{
    margin-left: 10px;
}
.list-pages .active a{
    color: #2c5986;
    border-bottom: 1px solid #2c5986;
}
/***************blog end**********************/

/***************blog-view**********************/

.blog-view-content{
	padding: 20px 0;
	border-top: 2px solid #e7e7e7;
}
.blog-view-content p{
	margin-bottom: 20px; 
	font-size: 14px;
	margin-top: 20px;
}
.blog-view-content .item .title{
	font-size: 20px;
	color: #000;
}
.blog-view-content .item{
    width: 280px;
    margin: 0 auto;
}
/***************blog-view end**********************/

/***************page**********************/
.page header{
	color: #000;
	font-size: 20px;
    padding-bottom: 8px; 
	margin-bottom: 10px; 
    border-bottom: 2px solid #e7e7e7;
}
.page-content{
	padding: 20px 0;	
}
.page-content p{
	margin-bottom: 20px; 
}
.text-content{
    min-width: 280px;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}
/***************page end**********************/

/***************comments-page **********************/
.comments-page{
	padding-bottom: 20px;
}
.comments-page .comment-block header{
	font-size: 20px;
	margin-bottom: 10px;
}
.comments-page .comment-block header span{
	color: #aeaeae;
	font-size: 14px;
	margin-left: 5px;
}
.comments-page .comments{
	padding: 10px 0;
	border-top: 2px solid #e7e7e7; 
}
.comments-page form{
	margin: 40px 0;
	text-align: center;
	position: relative;
}
.comments-page .input-action{
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	padding: 10px;
	border: 2px solid #e4e4e4;
	border-radius: 4px;
	display: block;
	margin: 0 auto;
	margin-bottom: 7px;
}
.comments-list .name{
	font-size: 16px;
}
.comments-page form p{
	font-size: 12px;
	color: #000;
}
.code-block{
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 0;
}
.code-block .input-code{
	width: 135px;
	border: 2px solid #e4e4e4;
	display: inline-block;
	box-sizing: border-box;
	padding: 9px 20px;
	vertical-align: top;
	border-radius: 2px;
    box-sizing: border-box;
}
.code-block .sale-code {
	width: 135px;
    height: 35px;
	margin-left: 10px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	border-radius: 2px;
    text-align: center;
}
.code-block .sale-code img{
    width: 100%;
    height: auto;
}
.btn-comment-action{
	background-color: #f1bc59;
	border: 2px solid #b98e3c;
	padding: 10px 20px; 
	border-radius: 2px;
}
.thanks{
    margin: 20px 0;
    text-align: center;
    color: blue;
}
.comments-list .comment-text{
    color: #464646;
}
/***************comments-page end**********************/

/***************main-catalog **********************/
.min-sum{
	color: #000;
	border-top: 2px solid #e7e7e7; 
	border-bottom: 2px solid #e7e7e7;
	padding: 10px 0;
	text-align: center;  
	font-size: 16px;
}
.main-catalog{
	padding-bottom: 30px
}
.main-catalog header{
	font-size: 20px;
	margin: 20px 0;
	text-align: center;
	color: #000;
}
.main-catalog header span{
	color: #aeaeae;
	font-size: 14px;
	margin-left: 5px;
}
.catalog-wrap{
	margin: 20px auto;
	max-width: 830px;
}
.buttons-catalog{
	font-size: 0;
	margin-bottom: 20px;
	text-align: center;
}
.btn-new,.btn-sale{
	border: 1px solid #CCCCCC;
	padding: 11px 0; 
	text-align: center;
	background-color: #fff;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase; 
	min-width: 135px;
	color: #0070DF;
    box-sizing: border-box;
}
.btn-sale{
	margin-left: 10px;
	color: #F01722;
}
.main-catalog-list{
	font-size: 0;
}
.main-catalog-list li{
	width: 50%;
	box-sizing: border-box;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: top;
}
.main-catalog-list li .wrap{
	display: block;
	width: 136px;
	text-align: center;
	position: relative;
}
.main-catalog-list li .wrap img{
	max-width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}
.main-catalog-list li .wrap .sum{
	color: #AAAAAA;
	margin-top: 7px;
}
.slider-list header{
	margin: 20px 0;
	font-size: 16px;
	color: #444444;
	text-align: left;
}
.slider-list .carousel-list-wrap{
	width: 100px;
	display: inline-block;
	position: relative;
	padding-top: 5px; 
}
.slider-list .carousel-list-wrap img{
	max-width: 100%;
}
.slick-track{
	float: left;
}
.slick-slider{
	overflow: hidden;
}
.main-catalog .link-down{
	margin-top: 30px;
}
.main-catalog .link-down i{
	display: inline-block;
	vertical-align: -1px;
}
.status-new span{
	font-size: 10px;
	color: #fff;
	position: absolute;
	top: 10px;
	left: 10px;
}
.status-discount span{
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 12px;
    left: 7px;
    text-align: center;
    font-weight: bold; 
}
/***************main-catalog end**********************/

/***************catalog-page**********************/
.catalog-page header{
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
    color: #000;
}
.catalog-page header span{
    color: #aeaeae;
    font-size: 14px;
    margin-left: 5px;
}
.sort-block{
    padding: 10px 0;  
}
.sort{
    width: 100%;
    border: 1px solid #c7c7c7;
    padding: 10px; 
    box-sizing: border-box;
    position: relative;
    display:  inline-block; 
}
.sort .fa{
    float: right;
    vertical-align: -2px;
    font-size: 16px;
    color: #5d5d5d;
}
.sort li{
    position: relative;
}
.sort-list{
    display: none;
    margin-top: 10px;
    position: absolute;
    z-index: 100; 
    top: 27px;
    left: -1px;
    width: 100%;
    border: 1px solid #c7c7c7;
    background-color: #fff;
    border-top: none ;
}
.sort-list li{
    padding: 5px;
    display: block;
}
.filters{
    display:  inline-block; 
    margin-top: 20px;
    width:  100%; 
}
.icons-filters{
    display:  inline-block;
    float:  right;
}
.filters p{
    display: inline-block;
    vertical-align: middle;
}
.product-block ul{
    font-size: 0;
}
.vertical.product-block li{
    width: 135px;
    font-size: 12px;
    margin-right: 10px; 
    margin-bottom: 20px; 
    box-sizing: border-box;
    display: inline-block;
    vertical-align:    top;
}
.vertical.product-block li:nth-child(2n){
    margin-right: 0; 
}
.vertical.product-block li .image{
    width: 135px;
    display: block;
    text-align:  center; 
    position:  relative; 
}
.product-block li .image img{
    max-width: 100%;
}
 .sum-input{
    display: inline-block;
    max-width: 117px;
    font-size: 14px;
    margin: 10px; 
    box-sizing: border-box;
}
.sum-input .decrem,.increm{
    border: 1px solid #c7c7c7;
    width: 30px;
    height: 30px;
    line-height: 1.6;  
    font-size: 18px; 
    text-align: center;
    display: inline-block;
    vertical-align:     middle  ;
}

.sum-input input{
    width:  38px;
    border: none;
    text-align:  center; 
    outline:    none;
    color: #777777;
}
.btn-cart{
    background-color: #f1bc59;
    border: 1px solid   #a27c31;
    border-radius: 4px; 
    color:  #000;
    padding: 8px 0;   
    text-align: center ; 
    width:  85px; 
    box-sizing: border-box;  
    display:    inline-block;   
}
.vertical .product-info{
    margin-top: 10px ;
}
.vertical.product-block .product-info .wrap{
    display:    none;
}
.pack{
    color: #777777;
    margin: 10px 0;
}
.product-info .sale{
    color: #444444;
    text-decoration: line-through;
}
.product-info .price{
    margin: 4px 0;
    font-size: 16px;
    color: #B12604;
}
.product-info .code{
    margin: 5px 0;
    color: #777777;
}
.horizontal.product-block li{
    width: 100%;
    font-size: 12px;
    margin-bottom: 30px;
    display: inline-block;
    position:   relative;   
}
.horizontal.product-block .product-image-info{
    display: inline-block;  
    vertical-align:  top;
    width:  135px;
    margin-right: 6px;
}
.horizontal.product-block li .image{
    width: 135px;
    display: block; 
    position:  relative;
    text-align:  center;  
}
.horizontal.product-block .product-info{
    display: inline-block;  
    vertical-align:  top;
    width: 47%;
}
.horizontal.product-block .product-image-info .wrap{
    display:   block;
    text-align:  center;      
}
.horizontal.product-block .product-info .wrap {
       display:   none ;
}
/***************catalog-page end**********************/
/***************product-page *********************/
.product-page{
    padding: 20px 0;
}
.product-page header{
    color: #2F2F2F;
    font-size: 18px;
    margin-bottom: 30px;
}
.product-page header.product-head{
    display: none;
}
.product-page .image-slider{
    min-width: 0;
    max-width: 100%;
    display: inline-block;
}
.product-page-info .sum-input{
    margin-left: 0; 
}
.product-page-info{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;  
}
.product-page-info .row{
    font-size: 0;
    margin-bottom: 10px;
}
.product-page-info .left{
    width: 80px;
    display: inline-block; 
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: top;
    color: #777777
}
.product-page-info .right{
    display: inline-block;
    width: 65%;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: top;
    color: #2F2F2F;
}
.product-page-info .sale{
    text-decoration: line-through;
}
.product-page-info .price span{
    font-size: 20px;
    color: #B12604;
} 
.product-page-info .price{
    margin: 4px 0;
}
.product-page-info .for-one{
    margin-left: 30px; 
}
.product-page-info .btn-cart{
    position: relative;
    width: 140px;
    padding: 11px 0;
    padding-left: 35px;
}
.recom-block ul{
    font-size: 0;
}
.recom-block li{
    width: 33.3333333%;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 30px; 
}
.recom-block .wrap{
    width: 85px;
    display: inline-block;
}
.recom-block .wrap img{
    max-width: 100%;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10px; 
}
 .recom-block .wrap p{
    font-size: 12px;
}
.recom-block{
    margin-top: 30px;
    margin-bottom: 50px; 
}
.product-page .product-block{
    margin-top: 30px;
    margin-bottom: 50px; 
}
.info-product-block{
    margin: 30px 0; 
}
.info-product-block ul{
    border-bottom:  2px solid #CCCCCC;
} 
.info-product-block ul > li{
    display: inline-block;
    padding: 10px;
    margin-left: 10px; 
    color: #00356A;
}
.info-product-block ul > li.active{
    border: 2px solid #CCCCCC;
    border-bottom: 2px solid #fff;
    transform: translateY(2px);
    color: #444444;
}
.tab-block{
    padding: 20px 0;
}
.tab-block .row{
    font-size: 0;
    margin-bottom: 5px;
    max-width: 280px;
    padding-left: 20px; 
}
.tab-block .left , .tab-block .right{
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    font-size: 14px;
}
.tab-block .left{
    color: #777;
    width: 60%;
    text-align: right;
    padding-right: 10px; 
}
.hidden{
    display: none;
}
/***************product-page end**********************/
/***************login-page **********************/
.login-page{
    padding-bottom: 30px; 
}
.login-page header{
    font-size: 20px;
    color: #000;
    padding-bottom: 8px;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
}
.login-page form{
    margin: 20px 0;
    text-align: center;
}
.login-page form input{
    width: 280px;
    border: 2px solid #CCCCCC; 
    padding: 10px;
    display: block;
    margin: 7px auto;
    border-radius: 4px;
    box-sizing: border-box;
} 
.btn{
    background-color: #F3C556;
    border: 1px solid #A9862D;
    border-radius: 4px;
    width: 200px;
    margin: 20px auto; 
    color: #000;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
}
.help{
    text-align: center;
}
.help a{
    margin: 5px; 
}
.error-message, .good-message{
    color: red;
    text-align: center;
    margin: 20px 0;
    
}
.good-message{
    color: green;
}
/***************login-page end**********************/
/***************registration-page end**********************/
.registration-page{
    padding-bottom: 30px; 
}
.registration-page header{
    font-size: 20px;
    color: #000;
    padding-bottom: 8px;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
}
.registration-page form{
    width: 280px;
    margin: 20px auto;
}
.registration-page form > input{
    width: 280px;
    border: 2px solid #CCCCCC; 
    padding: 10px;
    display: block;
    margin: 7px auto;
    border-radius: 4px;
    box-sizing: border-box;
} 
.btn{
    background-color: #F3C556;
    border: 1px solid #A9862D;
    border-radius: 4px;
    width: 200px;
    margin: 20px auto; 
    color: #000;
    padding: 12px;
    box-sizing: border-box;
}
.registration-page .code-block{
    margin-top: 7px; 
}
.registration-page .checkbox .text{
    width: 250px;
    margin-left: 10px;
    display: inline-block; 
    vertical-align: top;
    font-size: 12px;
}
.registration-page .checkbox input[type=checkbox]{
    width: 20px;
    height: 20px;
}

/***************registration-page end**********************/
/***************basket**********************/
.basket header{
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
    color: #000;
}
.basket header span{
    color: #aeaeae;
    font-size: 14px;
    margin-left: 5px;
}
.head-text{
    font-size: 12px;
    margin-bottom: 20px;
    color: #525252; 
}
.basket .sale{
    text-decoration: none;
}
.basket .code{
    margin: 15px 0; 
}
.sale-no{
    color: #F22124;
}
.basket .product-info{
    padding-top: 20px;
}
.promo-code{
    margin: 0 auto;
    width: 280px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 10px;  
}
.promo-head{
    font-size: 16px;
    margin-bottom: 10px; 
}
.promo-code input{
    width: 185px;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5px; 
    height: 35px;
    border-radius: 2px;
    border: 1px solid #B4B4B4;
    padding: 10px;
}
.promo-text{
    max-width: 440px;
    font-size: 12px;
    margin: 0 auto; 
}
.min-order{
    color: #8C0000;
    text-align: center;
    background-color: #FFEFBF;
    margin: 25px 0;
    padding: 15px 0;
}
.basket-continue{
    text-align: center;
    padding-bottom: 20px; 
}
.basket-sale{
    color: #525252;
}
.basket-continue .btn{
    margin-bottom: 15px;
}
.basket-sum{
    color: #008500;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;  
}
.order-block.active{
    display: block;
}
.order-block{
    max-width: 350px;
    margin: 50px auto;
    display: none;
    margin-top: 100px; 
}
.order-block.active{
    display: block;
}
.order-block form select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 4px 0;
    border-radius: 2px;
    border: 1px solid #B4B4B4;
    position: relative;
}
.order-block form .select-icon{
    position: relative;
}
.order-block form i{
    position: absolute;
    background-color: #fff;
    top: 16px;
    right: 3px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}
.order-block form input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 4px 0;
    border-radius: 2px;
    border: 1px solid #B4B4B4;
}
.order-block form input.mail-number{
    width: 150px;
    text-align: left; 
}
.order-block form textarea{
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    margin: 4px 0;
    border-radius: 2px;
    border: 1px solid #B4B4B4;
}
.order-block form p{
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
}
.finish-sum{
    text-align: center;
    font-size: 16px;
    margin-top: 20px; 
}
.order-block .btn{
    margin: 15px auto; 
}
.login-block{
    margin: 50px 0;
    padding: 20px 0; 
    display: none;
}
.login-block header{
    font-size: 16px;
    text-align: center;
    color: #525252;
    margin-bottom: 20px; 
}
.login-block form{
    margin: 20px 0;
    text-align: center;
}
.login-block form input{
    width: 280px;
    border: 2px solid #CCCCCC; 
    padding: 10px;
    display: block;
    margin: 7px auto;
    border-radius: 4px;
    box-sizing: border-box;
} 
/***************basket end**********************/

/***************profile**********************/
.profile{
    padding-bottom: 30px; 
}
.profile header{
    font-size: 20px;
    color: #000;
    padding-bottom: 8px;
    border-bottom: 1px solid #CCCCCC;
}
.profile-input {
    max-width: 280px;
    padding: 20px 0;
    margin-bottom: 20px; 
}
.profile-input form input{
    width: 100%;
    margin: 4px 0;
    border: 1px solid #B4B4B4;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 2px;
}
.profile-input .btn-cart{
    margin: 10px 0
}
.archive-orders-list{
    margin-top: 10px;
    margin-bottom: 20px;  
}
.archive-orders-list .row{
    font-size: 0;
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid #CCCCCC
}
.archive-orders-list .item-date{
    width: 30%;
    display: inline-block;
}
.archive-orders-list .item-order{
    width: 30%;
    display: inline-block;
}
.archive-orders-list .item-number{
    display: inline-block;
    width: 40%;
}
.archive-orders-list .title-row {
    background-color: #ececec;
    border:  none;
}
.archive-orders-list .fs{
    font-size: 12px;
}
/***************profile end**********************/

/***************archive-page**********************/

.archive-page{
    padding-bottom: 30px; 
}
.archive-page header{
    font-size: 20px;
    color: #000;
    padding-bottom: 8px;
    border-bottom: 1px solid #CCCCCC;
}
.archive-info{
    width: 280px;
    padding: 20px 0;
}
.archive-info .row{
    margin-bottom: 5px; 
}
.archive-info .left{
    width: 48%;
    display: inline-block;
    color: #525252;
}
.archive-info .right{
    width: 48%;
    display: inline-block;
}
.archive-product li{
    padding: 14px 0;
    border-top: 1px solid #CCCCCC; 
}
.archive-product li:last-child{
    border-bottom: 1px solid #CCCCCC; 
}
.archive-product .image-block{
    display: inline-block;
    margin-right: 10px; 
    text-align: center;
    width: 135px; 
    vertical-align: top;
}
.archive-product .image-block .image{
    width: 135px;
    display: block;
    margin-bottom: 10px; 
}
.archive-product .image-block .image img{
    max-width: 100%;
}
.archive-product .product-info{
    width: 46%;
    display: inline-block;
    vertical-align: top;
}
.archive-product .product-info{
    font-size: 12px;
}
.archive-product .product-info .code{
    margin-top: 15px;
    margin-bottom: 20px;  
}
.archive-product .product-info .info-text{
    display: inline-block;
    vertical-align: top;
}
.archive-product .product-info .sum-block{
    display: inline-block;
    vertical-align: top;
}
.archive-product .product-info .sum-amt{
    font-size: 16px;
    margin-top: 20px; 
}

/***************archive-page end**********************/
/***************profile**********************/
.history-block ul{
    font-size: 0;
}
.history-block li{
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px; 
    vertical-align: top;
}
.history-block li .wrap{
    width: 135px;
    display: block;
    margin: 0 auto;
}
.history-block li .wrap img{
    max-width: 100%;
}
.history-block li .wrap .text{
    margin: 10px 0;
    display: block;
}
/***************profile end**********************/
/***************my-carousel-dots **********************/
.slick-dots{
    position: relative;
    bottom: 0;
    margin-top: 20px; 
}
.slick-dots li button{
    background-color: transparent;
    border: 1px solid #444444;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0;
}
.slick-dots li{
    width: 15px;
    height: 15px;
}
.slick-dots li.slick-active{
    background-color: #00356A;
    border-radius: 50%; 
}
.slick-dots li button:before{
    content: "";
}


/***************my-carousel-dots  end**********************/
.lg-toolbar{
    background-color: rgba(0,0,0,.75);
}
#lg-counter {
    color: #fff;
}
.lg-toolbar .lg-icon{
    color: #fff;
}
.lg-outer .lg-thumb-outer {
    background-color: #fff;
}
.lg-outer .lg-toogle-thumb {
    background-color: #Fff;
}
.lg-outer .lg-toogle-thumb {
    background-color: #Fff;
}
.lg-backdrop{
    background-color: #fff; 
}
.lg-outer .lg-toogle-thumb:hover{
    color: #999;
}
@media screen and (min-width: 480px){
	.container{
	    max-width: 440px;
	}
	.catalog-list li{
		width: 210px;
		margin-right: 20px;
	}
	.catalog-list li .image{
	    width: 210px;
	    height: 310px;
	}
	.blog-list li{
		max-width: 215px;
	}
	.blog-list li .image{
	    width: 215px;
	    height: 160px;
		line-height: 185px;
	}
	.blog-items .item{
   		width: 440px;
	}
	.item .image{
		width: 440px;
	   height: 275px;
	}
	.blog-view-content .item{
    	width: 440px;
	}
	.phone-block{
		width: 440px;
	}
	.btn-new,.btn-sale{
		width: 215px;
	}
	.main-catalog-list li{
		width: 33.333333%;
	}
    .vertical.product-block li:nth-child(2n){
            margin-right: 10px; 
    }
    .vertical.product-block li:nth-child(3n){
            margin-right: 0; 
    }
    .basket .product-info{
        padding-top: 0px;
    }
    .archive-orders-list .row{
        text-align: left;
    }
    .archive-product .product-info{
        width: 65%;
    }
    .sum-order{
        margin: 15px 0;
        text-align: right;
        font-size: 16px; 
    }
    .history-block li{
        width: 50%;
    }
    .history-block li .wrap{
        width: 200px;
    }
    .recom-block .wrap{
        width: 130px;
    }
}
@media screen and (min-width: 720px){
	.container{
	    max-width: 680px;
	}
	.expand{
		display: none;
	}
	.btn-header{
		width: 49%;
	}
	.catalog-list li{
		width: 160px;
		margin-right: 10px;
	}
	.catalog-list li .image{
	    width: 160px;
	    height: 235px;
    
	}
	.catalog-list li:nth-child(2){
		margin-right: 10px;
	}
	.catalog-list li:last-child{
		margin-right: 0;
	}
	.blog-list li{
		max-width: 156px;
	}
	.blog-list li:nth-child(2){
		margin-right: 10px;
	}
	.blog-list li:nth-child(0){
		margin-right: 0;
	}
	.blog-list li .image{
	    width: 156px;
	    height: 129px;
	    line-height: 150px;
	}
	.blog-list li:nth-child(4){
		margin-right: 0;
	}
	.diamant-image{
		position: absolute;
		top: 120px;
		left: 50%;
		margin-left: -145px;
	}
	.info-content {
		   height: 450px;
	}
	.info-list li .icon{
		margin-top: 5px;
	}
	.info-list li .title{
		display: inline-block;
		width: 70%;
	}
	.info-list li{
		position: absolute;
		width: 215px;
		vertical-align: top;
	} 
	.info-list li:after{
		content: '';
		border: none;
		margin: 0;
	}
	.info-list li:first-child{
		left: 0;
		top: 0px;
		text-align: left;
	}
	.info-list li:first-child p{
		padding-left: 50px;
	}
	.info-list li:first-child .icon{
		margin-right: 7px;
	}
	.info-list li:nth-child(2){
		left: 0;
		top: 170px;
		text-align: left;
	}
	.info-list li:nth-child(2) .icon{
		margin-right: 7px;
	}
	.info-list li:nth-child(2) p{
		padding-left: 50px; 
	}
	.info-list li:nth-child(3){
		left: 0;
		top: 300px;
		text-align: left;
	}
	.info-list li:nth-child(3) .icon{
		margin-right: 7px;
	}
	.info-list li:nth-child(3) p{
		padding-left: 50px;
	}
	.info-list li:nth-child(4){
		right: 0;
		top: 0px;
		text-align: right;
		width: 245px;
	}
	.info-list li:nth-child(4) .icon{
		float: right;
		margin-left: 10px;
	}
	.info-list li:nth-child(4) p{
		padding-right: 50px;
	}	
	.info-list li:nth-child(5){
		right: 0;
		top: 170px;
		text-align: right;
	}
	.info-list li:nth-child(5) .icon{
		float: right;
		margin-left: 10px;
	}
	.info-list li:nth-child(5) p{
		padding-right: 50px;
	}
	.info-list li:nth-child(6){
		right: 0;
		top: 300px;
		text-align: right;
	}
	.info-list li:nth-child(6) .icon{
		float: right;
		margin-left: 10px;
	}
	.info-list li:nth-child(6) p{
		padding-right: 50px;
	}
	.blog-list li:nth-child(3n){
		margin-right: 10px;
	}
	.blog-list li:nth-child(4n){
		margin-right: 0;
	}
	.footer-main .icons-block{
		position: absolute;
		max-width: 135px;
		right: 0;
		bottom: 0;
        text-align: right;
	}
	.footer-list{
		text-align: left;
		max-width: 150px;
		margin: 0 auto;
		display: inline-block;
	}
	.footer-list li{
		border: none;
	}
	.service{
		position: absolute;
		right: 0;
		top: 0;
		text-align: right;
	}
	.footer-content{
		float: left;
		margin-top: -375px;
		max-width: 140px;
		margin-left: 10px;
	}
	.footer-bottom{
		margin-top: 0;
	}
	.footer{
		padding: 20px;
	}
	.footer-bottom li{
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 0;
	}
	.blog-items .item{
   		width: 520px;
	}
	.item .image{
		width: 520px;
	   height: 325px;
	}
	.blog-view-content .item{
    	width: 520px;
	}
	.phone-block{
		width: 335px;
	}
	.btn-new,.btn-sale{
		width: 335px;
	}
	.main-catalog-list{
		padding: 0 50px;
	}
	.main-catalog-list li{
		width: 25%;
	}
    .sort{
        border: none;
        width: 375px; 
        padding: 0;     
    }
    .sort p{
        display:    inline-block; 
        padding-top: 5px;       
    }
    .sort .fa{
        display:  none;
    }
    .sort-list{
        position:   static; 
        display:    inline-block;  
        width:  auto; 
        border: none;
        margin: 0;
    }
    .sort-list li{
        display:    inline-block;   
    }
    .filters{
        width: 185px; 
        float:  right;
        margin-top:  4px;
    }
    .vertical.product-block li{
        width:  200px;
        margin-right: 20px;   
    }
     .vertical.product-block li .image{
        width:  200px;
           
    }
    .vertical.product-block li:nth-child(2n){
            margin-right: 20px; 
    }
    .sum-input{
        margin-left: 0;
    }
    .product-block .text{
        font-size: 14px;
     }
     .sum-input input{
         width:  28px;
    }
    .horizontal.product-block .product-image-info{
        width:  270px;
        margin-right: 20px;
    }
    .horizontal.product-block li .image{
            width: 270px;  
            height: 195px;  
    }
    .basket .horizontal.product-block .product-image-info{
        width:  135px;
        margin-right: 20px;
    }
    .basket .horizontal.product-block li .image{
            width: 135px;  
            height: auto;
    }
    .horizontal.product-block .product-image-info .wrap {
           display:   none;
    } 
    .horizontal.product-block .product-info .wrap {
            margin-top: 10px; 
           display:   block;
    }
    .basket .horizontal.product-block .product-image-info .wrap {
           display:   block;
    } 
    .basket .horizontal.product-block .product-info .wrap {
            margin-top: 10px; 
           display:   none;
    }
    .horizontal.product-block .product-info{
        width:  55%;
    }  
    .product-page .image-slider{
        max-width: 430px;
    }   
    .archive-orders-list .fs{
        font-size: 14px;
    } 
    .archive-product .product-info{
        width: 77%;
    }
    .archive-product .product-info .info-text{
        width: 70%;
    }
    .archive-product .product-info .info-text a{
        font-size: 14px;
    }
    .archive-product .product-info .sum-block{
        float: right;
    }
    .sum-order{
        text-align: center;
    } 
     .history-block li{
        width: 33.3333333%;
    }
    .history-block li .wrap{
        width: 200px;
    }
    .product-page header.product-head{
        display: block;
    }
    .product-page-info{
        width: 34%;
    }
    .product-page header.hide{
        display: none;
    }
    .recom-block li{
        width: 25%;
    }
    .recom-block .wrap p{
        font-size: 14px;
    }
}
@media screen and (min-width: 1019px){
	.container{
	    max-width: 980px;
	}
	.btn-header{
		width: 480px;
	}
	.button-enter{
		margin-left: 20px;
	}
	.catalog-list li{
		width: 210px;
		margin-right: 20px;
	}
	.catalog-list li:nth-child(2){
		margin-right: 20px;
	}
	.catalog-list li .image{
    width: 210px;
    height: 310px;
	}
	.diamant-image{
		display: none !important;
	}
	.info-content{
		background: url("https://laprida.ua/library/index/diamond-image.png") no-repeat 42px 20px;
	}
	.info-list li{
		width: 340px;
	}
	.info-list li:first-child{
		top: 30px;
	}
	.info-list li:nth-child(2){
		top: 160px;
	}
	.info-list li:nth-child(3){
		top: 290px;
	}
	.info-list li:nth-child(5){
		top: 160px;
	}
	.info-list li:nth-child(4){
		width: 350px;
		top: 30px;
	}
	.info-list li:last-child{
		top: 290px;
	}
	.info-list li .title{
		width: 80%;
	}
	.image-triangle{
		width: 220px;
	}
	.info-business-content .row .item{
		margin: 0 50px;
	}
	.blog-list li{
		max-width: 215px;
	}
	.blog-list li .image{
		width: 215px;
		height: 160px;
		line-height: 185px;
	}
	.footer-content{
		max-width: 240px;
	}
	.comment-left,.comment-right{
		display: inline-block;
	}
	.phone-block{
		width: 480px;
	}
	.btn-new,.btn-sale{
		width: 405px;
	}
	.main-catalog-list{
		padding: 0 ;
	}
	.main-catalog-list li{
		width: 33.3%;
	}
	.main-catalog-list li .wrap{
		width: 	270px;
	}
    .vertical.product-block li:nth-child(3n){
            margin-right: 20px; 
    }
    .vertical.product-block li:nth-child(4n){
            margin-right: 0; 
    }
    .product-page-info{
        width: 54%;
    }
    .recom-block li{
        width: 20%;
    }
}