@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

body{
	font-size: 16px;
	font-family: Roboto , sans-serif;
	color: #b7b7b7;
	font-weight: 300;
	line-height: 1.5;
}
.container{
	max-width: 940px;
	position: relative;
	margin: 0 auto;
	padding: 80px 0; 
}
.logo{
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
li{
	text-decoration: none; 
}
a{
	text-decoration: none;
}
.btn{
	padding: 15px 30px;
	border-radius: 3px;
	cursor: pointer;
		a{
			color: #ffffff;
		}
}
.red{
	background: #e92121;
	border: 2px solid #e92121;
}
.trans{
	background: transparent;
	border: 2px solid #ffffff;
	margin-left: 15px;
}
h2{
	color: #464646;
	font-size: 3em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.1;
}
h3{
	color: #464646;
	font-size: 1.875em;
	font-weight: 700;
		&:after{
			content: url(img/after.png);
			display: block;
			margin: 0 auto;
		}
}
h4{
	color: #464646;
	font-weight: 700;
	font-size: 1.125em;
	margin-bottom: 20px;
}
.call{
	font-size: 1.125em;
	margin: 20px;

}
header{
	background: #272727 url(img/bg.png);
	background-size: cover;
	box-shadow: inset 0 50px 120px 6px rgba(0,0,0, 0.7);
		.header-top{
			margin-top: -40px;
			display: flex;
			justify-content: space-between;
				.menu{
					display: flex;
						li{
							margin-left: 30px;
								a{
									font-weight: 400;
									color: #ffffff;
									font-size: 0.875em;
										&:hover{
											opacity: 0.5;
										}
								}
						}
				}
		}
		.header-content{
			margin-top: 150px;
			margin-bottom: 100px;
				.real{
					font-size: 1.5em;
				}
				h1{
					font-size: 3.750em;
					font-weight: 700;
					text-transform: uppercase;
					line-height: 1;
					color: #ffffff;
					margin: 30px 0;
				}
		}
}
.our_history {
	border-bottom: 1px solid #f1f1f1;
	.container{
		display: flex;
		padding-bottom: 50px;
		
			.history{
				width: 50%;
				display: flex;
				align-items: center;
					h2{
						width: 80%;
					}
			}
			.history-content{
				width: 50%;
					p{
						margin-bottom: 30px;
					}
			}
	}
}
.how_work{
	text-align: center;
		.row{
			display: flex;
			flex-wrap: wrap;
			margin-top: 50px;
				.item{
					width: 33.333333%;
					text-align: left;
					padding: 30px 20px;
					box-sizing: border-box;
				}
				.house:before{
					content: url(img/h.png);
					display: block;
					margin-bottom: 20px;
				}
				.decor:before{
					content: url(img/d.png);
					display: block;
					margin-bottom: 20px;
				}
				.dollar:before{
					content: url(img/dol.png);
					display: block;
					margin-bottom: 20px;
				}
				.calendar:before{
					content: url(img/pl.png);
					display: block;
					margin-bottom: 20px;
				}
				.ok:before{
					content: url(img/ok.png);
					display: block;
					margin-bottom: 20px;
				}
				.heart:before{
					content: url(img/heart.png);
					display: block;
					margin-bottom: 20px;
				}
		}
}
.slider{
	background: #faf9f9;
		.slide{
			display: flex;
				.img_ring{
					width: 50%;
				}
				.content{
					padding: 50px;
					box-sizing: border-box; 
					align-items: center;
					h3:after{
						margin: 0;
					}
					p{
						margin: 30px 0;
					}
				}
		}
		.btn-slide{
			position: absolute;
			top: 50%;
			border: none;
			background: transparent;
			cursor: pointer
		}
		.next{
			right: -5%;
		}
		.prev{
			left: -5%;
		}
}
.why_we{
	.choose_we{
		display: flex;
			.choose_we_title{
				width: 40%;
				display: flex;
				align-items: center;
					h2{
						width: 70%;
					}
			}
			.row{
				width: 60%;
				display: flex;
				flex-wrap: wrap;
					.item{
						width: 50%;
						padding-left: 30px;
						box-sizing: border-box;
						margin-top: 30px;
					}
			}

	}
	.row_rings{
		display: flex;
		flex-wrap: wrap;
		margin-top: 80px;
			.item{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 25%;
				box-sizing: border-box; 
				box-shadow: inset 0px 0px 55px -10px rgba(0,0,0,0.22);
				padding: 20px;
					&:last-child{
						width: 50%;
						display: flex;
						align-items: flex-end;
						justify-content: flex-start;
						box-shadow: none;
						padding: 0;
							h2{
								width: 50%;
								margin-left: 30px;
									&:after{
										content: url(img/after.png);
										display: block;
										margin-top: 20px;
									}
							}
					}
					img{
						width: 85%;
						
					}
			}
	}
}
.content_text{
		display: flex;
		margin-top: 50px;
			p{
				margin-right: 30px;
					&:last-child{
						margin: 0;
					}
			}
}
.comments_from{
	background-color: #faf9f9;
	text-align: center;
		.row{
			display: flex;
			flex-wrap: wrap;
				.item_comment{
					width: 33.3333333%;
					text-align: left;
					padding: 60px 30px 0 50px;
					box-sizing: border-box;
						h4{
							margin-bottom: 10px;
							&:before{	
								content: url(img/sq.png);
								display: inline-block;
								background-color: #e92121;
								border-radius: 50%;
								width: 30px;
								height: 30px;
								text-align: center;
								line-height: 1.6;
								margin-left: -50px;
								margin-right: 20px;
								}
						}
						h5{
							font-size: 0.875em;
							margin-bottom: 20px;
						}
				}
		}	

}
.our-photoblog{
	.row{
		display: flex;
			.item_photo{
				width: 25%;
				box-sizing: border-box;
			}
			.item_photo_title{
				width: 50%;
				display: flex;
				align-items: flex-end;
			}
					h2{
						width: 50%;
						&:after{
							content: url(img/after.png);
							display: block;
							margin-top: 20px;
						}
					}
	}
	.top{
		margin-top: -8px;
	}
}
footer{
	background-color: #141414;
		.footer-top{
			display: flex;
			justify-content: space-between;
				.icons{
					display: flex;
					align-items: center;
						li{
							margin-left: 30px;
						}
				}
		}
		.footer-bottom{
			display: flex;
			margin-top: 50px;
			justify-content: space-between;
				.footer-info{
							display: flex;
						.info{
							margin-right: 50px;
							a{
								color: #474747;
								line-height: 2;
									&:hover{
									text-decoration: underline;
									}
							}
						
						}
				}
				.cop{
						text-align: right;
						color: #353434;
				}
		}	
}