@charset "UTF-8";
* {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
    padding:0;
}
html, body{
    font-family: Tahoma,  sans-serif;
    background-color: white;
    color: #494949;
}
body{
    position: relative;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #002f5d;
}
li{
    list-style: none;
}
textarea{
    resize: vertical;
}
.clearfix{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/***************HEADER**********************/
.header-top{
	background-color: #003368;
	padding: 15px 15px;
	text-align: center;
}
.header-basket{
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
   margin: 0 auto;
}
.header-basket .small{
	font-weight: 400;
}
.header-basket .fa{
    margin-right: 10px;
}
.header-top .fa-bars{
	color: #fff;
    font-size: 18px;
}
.header-burger{
	display: inline-block;
	float: right;
}
.header-burger div{
	width: 25px;
	height: 2px;
	margin-bottom: 5px;
	background-color: #fff;
}
.header-burger div:last-child{
	margin-bottom: 0;
}
.header-buttons{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px; 
	font-size: 0;
}
.btn-header{
	display: inline-block;
	background-color:#ececec;
	width: 135px;
	height: 40px;
	font-size: 14px;
	position: relative;
	color: #1c8621;
	box-sizing: border-box;
	vertical-align: top;
}
.button-enter{
	margin-left: 10px;
}
.button-enter .icon{
	margin-top: 10px; 
}
.phone-wrap{
	position: relative;
}
.phone{
	line-height: 40px;
	font-weight: bold;
}
.phone:before{
	content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    left: -33px;
    top: -2px;
    bottom: 0;
    background: url(../img/sprite.png) no-repeat -110px -389px;
    background-size: 470px 470px;
}
/***************HEADER END**********************/
/***************ASIDE**********************/

#side-menu{
    position: fixed;
    top:0;
   	right:0;
    width:0;
    height:100vh;
    background-color: transparent;
    overflow-x:hidden;
    z-index:1000;
}
#side-menu .side-menu{
    display:block;
    float:right;
    width:280px;
    height:100vh;
    overflow-x:hidden;
    background-color:white;
    font-size:0;
    box-sizing: border-box;
    padding: 0 10px;
}
.side-menu .close{
	float: right;
	display: inline-block;
	padding: 20px 10px;
	font-size: 14px;
	
}
.side-menu form{
	text-align: center; 
}
#side-menu .side-menu .search{
    display:inline-block;
    box-sizing: border-box;
   /* margin:10px;*/
    width:200px;
    height:40px;
    border:1px solid #e7e7e7;
    color: #a5a5a5;
    font-size:16px;
    padding: 10px;
}
.btn-search{
	background-color: #fff;
	border: none;
	padding:10px; 
}
.btn-search .fa{
	color:#002f5d;
	font-size: 22px;
}
#side-menu .side-menu .menu .sub-menu,
#side-menu .side-menu .menu{
    box-sizing: border-box;
    display:inline-block;
    list-style:none;
    width:100%;
    font-size:0;
    margin:0;
    padding:0 10px;
    height:auto;
    overflow:hidden;
}
#side-menu .side-menu .menu .sub-menu{
    padding:0;
}
#side-menu .side-menu .menu .sub-menu li,
#side-menu .side-menu .menu li{
    position:relative;
    box-sizing: border-box;
    display:inline-block;
    text-align:left;
    width:100%;
    height:40px;
    margin:0;
    padding:0;
}
#side-menu .side-menu .menu li i{
    position: absolute;
    top:0;
    right:0;
    width:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size:14px;
    color:#002f5d;
    margin: 0;
}
.side-menu .menu-header{
	padding: 0 10px;
}
.side-menu .menu-header p{
	font-size: 16px;
	color: #2D2D2D;
	margin-top: 20px;
	margin-bottom: 10px; 
}
#side-menu .side-menu .menu .sub-menu li a,
#side-menu .side-menu .menu li a{
    box-sizing: border-box;
    display:inline-block;
    width:100%;
    height:40px;

    line-height:40px;
    font-weight:normal;
    font-size:14px;
    border-bottom:  1px solid #E4E4E4;
    
}
#side-menu .side-menu .menu .sub-menu li a{
    padding: 0 0 0 30px;
}

#side-menu .side-menu .menu li a.sale{
    color:#B94325;
}

#side-menu .side-menu .menu:last-child li:last-child a{
    border-bottom-color:#E4E4E4;
}
#side-menu .side-menu .menu:last-child{
    margin-bottom:100px;
}

#side-menu .close-menu{
    display:block;
    float:right;
    width:calc(100% - 280px);
    height:100%;
    background-color:#000;
    opacity: .4;
}

/***************ASIDE END**********************/

/***************FOOTER **********************/
.footer-main{
	padding-top: 30px;
	padding-bottom: 70px;  
	text-align: center;
	background-color: #00356A;
	color: #fff;
	position: relative;
	margin-top: 20px; 
}
.footer-main a{
	color: #fff;
}
.icons-block li{
	display: inline-block;
	margin-right: 20px; 
}
.icons-block li:last-child{
	margin: 0;
}
.icons-block a{
	font-size: 24px;
}
.footer-list{
	margin: 35px auto;
}
.footer-list li{
	padding: 10px;
	border-bottom: 1px solid #1c4b75;
}
.footer-list a{
	color: #7faac4;
}
.service{
	margin-top: 10px; 
	font-size: 14px;
}
.footer-phone{
	font-size: 22px;
	margin: 20px 0;
}
.service .write-us{
	color: #6c99b7;
}
.footer{
	background-color: #20232a;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
}
.footer-content{
	text-align: center;
	margin-top: -65px;
	position: relative;
	z-index: 100;
}
.footer-content .icon{
	margin-bottom: 20px;  
}
.footer p{
	color: #fff;
	margin-bottom: 10px; 
}
.kb{
	color: #89b0c7;
}
.footer-bottom{
	margin-top: 30px; 
}
.footer-bottom li{
	margin-bottom: 10px; 
}
.footer-bottom li a{
	color: #6e6e6e;
	font-size: 14px;
}
/***************FOOTER END**********************/

/***************main-page **********************/
.container{
    max-width: 280px;
    margin: 0 auto;
    position: relative;
}
.catalog-block header{
    text-align: center;
    margin: 10px 0;
}
.main-header-logo-block{
	width: 150px;
}
.catalog-block .text-header{
    color: #000;
    font-size: 12px;
    margin-top: 5px;
}
.content{
    margin: 20px 0;
}
.catalog-list{
    text-align: center;
    font-size: 0;
}
.catalog-list li{
    width: 135px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px; 
    text-align: center;
    font-size: 16px;
    box-sizing: border-box; 
    vertical-align: top;
}
.catalog-list li:nth-child(2n){
	margin-right: 0;
}
.catalog-list li .image{
    width: 135px;
    height: 200px;
    display: inline-block;
}
.catalog-list li .image img{
    max-width: 100%;
}
.catalog-list p{
    margin: 10px 0;
}
.category-amount{
    color: #b0b0b0;
}
.info-block {
	position: relative;
	padding: 20px 0
}
.info-block header{
    font-weight: 500px;
    font-size: 20px;
    text-align: center;
    color: #000;
   
}
.diamant-image{
    width: 290px;
    margin: 0 auto;
    margin-top: 30px; 
}
.diamant-image img{
    max-width: 100%;
}
.info-content{
    padding: 0 20px;
    text-align: center;
    height: 300px;
    overflow: hidden;
}
.info-list{
	font-size: 0;
}
.info-list li{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.info-list li .left{
	position: static;
}
.info-list li:after{
    content: '';
    border-bottom: 1px solid #cdcdcd;
    width: 80px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.info-list li .title{
    color: #002f5d;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.info-list li p{
    color: #696969;
}
.link-down{
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
.link-down .fa{
    color: #002f5d;
    display: block;
    margin-top: 10px;
}
.social-block{
    padding: 30px;
    background: #efefef;
    text-align: center;
    margin: 50px 0;
}
.social-block header{
    font-size: 20px;
    color: #000;
}
.social-block .icons-block  {
    margin-top: 40px;
    margin-bottom:30px;
}
.link-lp{
    font-size: 14px;
    color: #000;
}
.info-business-block{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 40px ;
}
.info-business-block header p{
    font-size: 20px;
    color: #000;
    margin: 10px 0;
}
.info-business-content .row{
    font-size: 0;
}
.info-business-content .row .item{
    font-size: 14px;
    display: inline-block;
    margin: 10px;
    color: #000;
    max-width: 200px;
    text-align: center;
}
.image-triangle{
    width: 135px;
    margin: 10px auto;
}
.image-triangle img{
    max-width: 100%;
}
.info-blue-block{
    background: url("https://m.laprida.ua/template/mobile/img/background-sample.jpg");
     background-size: cover;
     padding: 20px 0;
      color: #fff;
      text-align: center;
      margin: 40px 0;
}  
.info-blue-block header{
    font-size: 20px;
}
.info-blue-block .image-logo{
    width: 167px;
    margin: 20px auto;
}
.info-blue-block .image-logo img{
    max-width: 100%;
}
.images-list{
    margin: 10px 0;
} 
.images-list .row{
    font-size: 0;
    
}
.images-list .item{
    font-size: 14px;
    color: #fff;
    display: inline-block;
    margin: 5px;
    margin-bottom: 20px;
    vertical-align: top;
    width: 130px;
    box-sizing: border-box;
    text-align: center;
}
.images-list .image{
    width: 125px;
    height: 90px;
    display: inline-block;
    margin-bottom: 10px;
}
.images-list .image img{
    max-width: 100%;
    display: inline-block;
}
.comment-block header{
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.comments-list li{
    margin: 10px;
    margin-bottom: 30px;
    color: #909090;
}
.comments-list li .name{
    color: #000;
    font-size: 16px;
    font-style: normal;
}
.comments-list li p{
    margin-bottom: 10px;
    font-size: 14px;
    font-style: italic;
}
.blog-block{
	padding: 50px 0; 
}
.blog-block header{
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
}
.blog-list{
    margin-top: 35px;
    font-size: 0;
    text-align: center;
}
.blog-list li{
    max-width: 135px;
    margin-right: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    text-align: left;
}
.blog-list li:nth-child(2n){
	margin-right: 0;
}
.blog-list li .image{
    width: 135px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
}
.blog-list li .image img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.date,.views{
    color: #909090;
    margin-bottom: 10px;
    text-align: left;
}
.info-about-us-block{
    padding: 10px;
    text-align: center;
}
.info-about-us-block header{
    font-size: 20px;
    color: #000;
    margin-bottom: 30px;
}
.info-about-us-block .firstP{
    max-width: 190px;
    margin: 20px auto;
}
.info-about-us-block p{
    margin: 10px 0;
    font-size: 14px;
}
/***************main-page end**********************/


/***************header-list-block **********************/
.header-list-block{
    margin-bottom: 20px;
}
.header-list{
    font-size: 0;
}
.header-list li{
    display: inline-block;
    font-size: 14px;
}
.header-list li a{
    color: #000;
}
.header-list .visited a{
    color: #e0e0e0;
}
.header-list .visited:after{
    display: inline-block;
    font-weight: 900;
    font-family: Font Awesome\ 5 Free;
    content: "\f105"; 
    color: #e0e0e0;
    margin:0 10px;
    font-size: 14px;
    vertical-align: -1px;
}
/***************header-list-block end **********************/


/***************blog **********************/
.blog header{
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}
.blog header span{
    margin-left: 5px;
    color: #898989;
    font-size: 14px;
}
.blog-items{
    font-size: 0;
    text-align: center;
    border-top: 2px solid #e7e7e7;
    padding: 20px 0;
}
.blog-items .item{
    display: inline-block;
    width: 280px;
    margin-bottom: 30px;
    font-size: 14px;
   	text-align: left;
}
.item .image{
    width:280px;
 	height: 175px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 10px; 
    text-align: center;

}
.item .image img{
    max-width: 100%;
    margin: 0 auto;
}
.date-views{
    text-align: left;
}
.date-views .date,.views{
    display: inline-block;
}
.date-views .views{
    float: right;
}
.number-pages{
    margin: 20px 0;
    text-align: center;
}
.list-pages li{
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
}
.list-pages li a{
    color: #9a9a9a;
    
}
.list-pages li:last-child{
    margin-left: 10px;
}
.list-pages .active a{
    color: #2c5986;
    border-bottom: 1px solid #2c5986;
}
/***************blog end**********************/

/***************blog-view**********************/

.blog-view-content{
	padding: 20px 0;
	border-top: 2px solid #e7e7e7;
}
.blog-view-content p{
	margin-bottom: 20px; 
	font-size: 14px;
	margin-top: 20px;
}
.blog-view-content .item .title{
	font-size: 20px;
	color: #000;
}
.blog-view-content .item{
    width: 280px;
    margin: 0 auto;
}
/***************blog-view end**********************/

/***************how-order**********************/
.how-order header{
	color: #000;
	font-size: 20px;
	margin-bottom: 10px; 
}
.how-order-content{
	padding: 20px 0;
	border-top: 2px solid #e7e7e7;
}
.how-order-content p{
	margin-bottom: 20px; 
	font-size: 14px;
}
/***************how-order end**********************/

/***************comments-page **********************/
.comments-page{
	padding-bottom: 20px;
}
.comments-page .comment-block header{
	font-size: 20px;
	margin-bottom: 10px;
}
.comments-page .comment-block header span{
	color: #aeaeae;
	font-size: 14px;
	margin-left: 5px;
}
.comments-page .comments{
	padding: 10px 0;
	border-top: 2px solid #e7e7e7; 
}
.comments-page form{
	margin: 40px 0;
	text-align: center;
	position: relative;
}
.comments-page .input-action{
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	padding: 10px;
	border: 2px solid #e4e4e4;
	border-radius: 4px;
	display: block;
	margin: 0 auto;
	margin-bottom: 7px;
}
.comments-list .name{
	font-size: 16px;
}
.comments-page form p{
	font-size: 12px;
	color: #000;
}
.code-block{
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 0;
}
.code-block .input-code{
	width: 135px;
	border: 2px solid #e4e4e4;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px 20px;
	vertical-align: top;
	border-radius: 2px;
}
.code-block .code{
	width: 135px;
	margin-left: 10px;
	display: inline-block;
	box-sizing: border-box;
	font-size: 20px;
	text-align: center;
	padding: 7px 0;
	background-color: #c7c7c7;
	font-size: 20px;
	vertical-align: top;
	border-radius: 2px;
}
.btn-comment-action{
	background-color: #f1bc59;
	border: 2px solid #b98e3c;
	padding: 10px 20px; 
	border-radius: 2px;
}
/***************comments-page end**********************/



@media screen and (min-width: 480px){
	.container{
	    max-width: 440px;
	}
	.btn-header{
		width: 215px;
	}
	.catalog-list li{
		width: 210px;
		margin-right: 20px;
	}
	.catalog-list li .image{
    width: 210px;
    height: 310px;
	}
	.blog-list li:nth-child(2n){
	margin-right: 10px;
	}
	.blog-list li:nth-child(3n){
	margin-right: 0;
	}
	.blog-items .item{
   		width: 440px;
	}
	.item .image{
		width: 440px;
	   height: 275px;
	}
	.blog-view-content .item{
    	width: 440px;
	}
}
@media screen and (min-width: 720px){
	.container{
	    max-width: 680px;
	}
	.link-down{
		display: none;
	}
	.btn-header{
		width: 335px;
	}
	.catalog-list li{
		width: 160px;
		margin-right: 10px;
	}
	.catalog-list li .image{
    width: 160px;
    height: 235px;
    
	}
	.catalog-list li:nth-child(2){
		margin-right: 10px;
	}
	.catalog-list li:last-child{
		margin-right: 0;
	}
	.diamant-image{
		position: absolute;
		top: 100px;
		left: 190px;
	}
	.info-content {
		   height: 450px;
	}
	.info-list li .icon{
		margin-top: 5px;
	}
	.info-list li .title{
		display: inline-block;
		width: 70%;
	}
	.info-list li{
		position: absolute;
		width: 205px;
		vertical-align: top;
	} 
	.info-list li:after{
		content: '';
		border: none;
		margin: 0;
	}
	.info-list li:first-child{
		left: 0;
		top: 50px;
		text-align: left;
	}
	.info-list li:first-child p{
		padding-left: 50px;
	}
	.info-list li:first-child .icon{
		margin-right: 7px;
	}
	.info-list li:nth-child(2){
		left: 0;
		top: 230px;
		text-align: left;
	}
	.info-list li:nth-child(2) .icon{
		margin-right: 7px;
	}
	.info-list li:nth-child(2) p{
		padding-left: 50px; 
	}
	.info-list li:nth-child(3){
		left: 0;
		top: 360px;
		text-align: left;
	}
	.info-list li:nth-child(3) .icon{
		margin-right: 7px;
	}
	.info-list li:nth-child(3) p{
		padding-left: 50px;
	}
	.info-list li:nth-child(4){
		right: 0;
		top: 50px;
		text-align: right;
		width: 255px;
	}
	.info-list li:nth-child(4) .icon{
		float: right;
		margin-left: 10px;
	}
	.info-list li:nth-child(4) p{
		padding-right: 50px;
	}	
	.info-list li:nth-child(5){
		right: 0;
		top: 230px;
		text-align: right;
	}
	.info-list li:nth-child(5) .icon{
		float: right;
		margin-left: 10px;
	}
	.info-list li:nth-child(5) p{
		padding-right: 50px;
	}
	.info-list li:nth-child(6){
		right: 0;
		top: 360px;
		text-align: right;
	}
	.info-list li:nth-child(6) .icon{
		float: right;
		margin-left: 10px;
	}
	.info-list li:nth-child(6) p{
		padding-right: 50px;
	}
	.blog-list li:nth-child(3n){
		margin-right: 10px;
	}
	.blog-list li:nth-child(4n){
		margin-right: 0;
	}
	.footer-main .icons-block{
		position: absolute;
		max-width: 140px;
		right: 0;
		bottom: 0;
	}
	.footer-main .icons-block li:nth-child(3n){
		margin-right: 0;
	}
	.footer-main .icons-block li{
		margin-bottom: 20px;
	}
	.footer-list{
		text-align: left;
		max-width: 150px;
		margin: 0 auto;
		display: inline-block;
	}
	.footer-list li{
		border: none;
	}
	.service{
		position: absolute;
		right: 0;
		top: 0;
		text-align: right;
	}
	.footer-content{
		float: left;
		margin-top: -375px;
		max-width: 140px;
		margin-left: 10px;
	}
	.footer-bottom{
		margin-top: 0;
	}
	.footer{
		padding: 20px;
	}
	.footer-bottom li{
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 0;
	}
	.blog-items .item{
   		width: 520px;
	}
	.item .image{
		width: 520px;
	   height: 325px;
	}
	.blog-view-content .item{
    	width: 520px;
	}
}
@media screen and (min-width: 1019px){
	.container{
	    max-width: 980px;
	}
	.btn-header{
		width: 480px;
	}
	.button-enter{
		margin-left: 20px;
	}
	.catalog-list li{
		width: 210px;
		margin-right: 20px;
	}
	.catalog-list li:nth-child(2){
		margin-right: 20px;
	}
	.catalog-list li .image{
    width: 210px;
    height: 310px;
	}
	.diamant-image{
		display: none !important;
	}
	.info-content{
		background: url("https://laprida.ua/library/index/diamond-image.png") no-repeat 42px 50px;
	}
	.info-list li{
		width: 340px;
	}
	.info-list li:nth-child(4){
		width: 350px;
		top: 100px;
	}
	.info-list li .title{
		width: 80%;
	}
	.info-list li:first-child{
		top: 100px;
	}
	.image-triangle{
		width: 220px;
	}
	.info-business-content .row .item{
		margin: 0 50px;
	}
	.blog-list li:nth-child(4n){
	margin-right: 10px;
	}
	.footer-content{
		max-width: 240px;

	}
	.comment-left,.comment-right{
		display: inline-block;
	}
}