@charset "UTF-8";
* {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
    padding:0;
}
html, body{
    font-family: Tahoma,  sans-serif;
    background-color: white;
    color: #494949;
}
body{
    position: relative;
}

a{
    text-decoration: none;
    color: #002f5d;
}
li{
    list-style: none;
}
textarea{
    resize: vertical;
}
.clearfix{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/***************HEADER**********************/
.header-top{
	background-color: #002f5d;
	padding: 10px 15px;
	text-align: center;
}
.header-basket{
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}
.header-top .fa-bars{
	color: #fff;
}
.header-top .icon{
	margin-left: 10px;
}
.header-burger{
	display: inline-block;
	float: right;
}
.header-buttons{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px; 
}
.btn-header{
	display: inline-block;
	background-color: #ececec;
	width: 135px;
	height: 40px;
	position: relative;
	color: #1c8621;
	vertical-align: top;
}
.button-enter{
	margin-left: 10px;
}
.button-enter .icon{
	margin-top: 10px; 
}
.phone{
	line-height: 40px;
	font-weight: 600;
}
.phone:before{
	content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    left: 15px;
    top: 10px;
    bottom: 0;
    background: url(../img/sprite.png) no-repeat -110px -389px;
    background-size: 470px 470px;
}
/***************HEADER END**********************/
/***************ASIDE**********************/

#side-menu{
    position: fixed;
    top:0;
   	right:0;
    width:0;
    height:100vh;
    background-color: transparent;
    overflow-x:hidden;
    transition: 0.3s;
    z-index:1000;
}
#side-menu .side-menu{
    display:block;
    float:right;
    width:280px;
    height:100vh;
    overflow-x:hidden;
    background-color:white;
    font-size:0;
    box-sizing: border-box;
    padding: 0 10px;
}
.side-menu .close{
	float: right;
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	
}
.side-menu form{
	text-align: center; 
}
#side-menu .side-menu .search{
    display:inline-block;
    box-sizing: border-box;
   /* margin:10px;*/
    width:200px;
    height:40px;
    border:1px solid #e7e7e7;
    color: #a5a5a5;
    font-size:16px;
    padding: 10px;
}
.btn-search{
	background-color: #fff;
	border: none;
	padding:10px; 
}
.btn-search .fa{
	color:#002f5d;
	font-size: 18px;
}
#side-menu .side-menu .menu .sub-menu,
#side-menu .side-menu .menu{
    box-sizing: border-box;
    display:inline-block;
    list-style:none;
    width:100%;
    font-size:0;
    margin:0;
    padding:0 10px;
    height:auto;
    overflow:hidden;
}
#side-menu .side-menu .menu .sub-menu{
    padding:0;
}
#side-menu .side-menu .menu .sub-menu li,
#side-menu .side-menu .menu li{
    position:relative;
    box-sizing: border-box;
    display:inline-block;
    text-align:left;
    width:100%;
    height:40px;
    margin:0;
    padding:0;
}
#side-menu .side-menu .menu li i{
    position: absolute;
    top:0;
    right:0;
    width:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size:14px;
    color:#002f5d;
    margin: 0;
}
.side-menu .menu-header{
	padding: 0 10px;
}
.side-menu .menu-header p{
	font-size: 18px;
	color: #000;
	margin: 10px 0; 
}
#side-menu .side-menu .menu .sub-menu li a,
#side-menu .side-menu .menu li a{
    box-sizing: border-box;
    display:inline-block;
    width:100%;
    height:40px;

    line-height:40px;
    font-weight:normal;
    font-size:14px;
    border-bottom:  1px solid #E4E4E4;
    
}
#side-menu .side-menu .menu .sub-menu li a{
    padding: 0 0 0 30px;
}

#side-menu .side-menu .menu li a.sale{
    color:#B94325;
}

#side-menu .side-menu .menu:last-child li:last-child a{
    border-bottom-color:#E4E4E4;
}
#side-menu .side-menu .menu:last-child{
    margin-bottom:100px;
}

#side-menu .close-menu{
    display:block;
    float:right;
    width:calc(100% - 280px);
    height:100%;
    background-color:#8C9198;
    opacity: .3;
}

/***************ASIDE END**********************/

/***************FOOTER **********************/
.footer-main{
	padding-top: 30px;
	padding-bottom: 70px;  
	text-align: center;
	background-color: #08305f;
	color: #fff;
	position: relative;
	margin-top: 20px; 
}
.footer-main a{
	color: #fff;
}
.icons-block li{
	display: inline-block;
	margin-right: 20px; 
}
.icons-block li:last-child{
	margin: 0;
}
.icons-block a{
	font-size: 24px;
}
.footer-list{
	width: 90%;
	margin: 0 auto;
	margin-top: 35px; 
}
.footer-list li{
	padding: 10px;
	border-bottom: 1px solid #1c4b75;
}
.footer-list a{
	color: #7faac4;
}
.service{
	margin-top: 10px; 
	font-size: 14px;
}
.footer-phone{
	font-size: 20px;
	margin: 20px 0;
}
.service .write-us{
	color: #6c99b7;
}
.footer{
	background-color: #20232a;
	padding-top: 70px;
	padding-bottom: 30px;
	text-align: center;
}
.footer-main .icon{
	position: absolute;
	bottom: -50px; 
	left: 50%;
	margin-left: -43px;  
}
.footer p{
	color: #fff;
	margin-bottom: 10px; 
}
.kb{
	color: #89b0c7;
}
.footer ul{
	margin-top: 30px; 
}
.footer li{
	margin-bottom: 10px; 
}
.footer li a{
	color: #6e6e6e;
	font-size: 14px;
}
/***************FOOTER END**********************/