@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
.text {
  color: #363636;
  font-family: 'Lato';
  font-size: 0.875em;
  font-weight: 400;
}
.btext {
  color: #000000;
  font-family: 'Lato';
  font-size: 0.938em;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
}
header {
  -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #e8ebf1;
  padding: 30px 0;
}
header .logo {
  color: #2aacc8;
  font-family: 'Lato';
  font-size: 3.333em;
  line-height: 20px;
  /* Text style for "Bis" */
  font-weight: 400;
}
header .logo span {
  color: #000000;
  font-weight: 900;
}
header .menu li {
  margin-left: 30px;
  border: 3px solid transparent;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .menu li a {
  color: #000000;
  font-family: 'Lato';
  font-size: 0.938em;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 0.813em;
  text-decoration: none;
}
header .menu li a:hover {
  color: #2aacc8;
}
header .menu .dropdown:hover {
  background-color: white;
  border-top: 3px solid #2aacc8;
}
header .menu .dropdown-menu {
  margin-left: -4%;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid #2aacc8;
  padding-left: 5px;
  padding-right: 5px;
}
header .menu .dropdown-menu li {
  margin: 0;
  border-bottom: 1px solid #e7e7e7;
  padding: 5px;
}
header .menu .dropdown-menu li:last-child {
  border: none;
}
header .menu .dropdown-menu li a {
  color: #363636;
  font-family: 'Lato';
  font-size: 0.875em;
  font-weight: 400;
  text-transform: normal;
}
header .menu .dropdown-menu li a:hover {
  color: #2aacc8;
  background: none;
}
header .dd:after {
  content: url(img/down-arrow.png);
  display: inline-block;
  margin-left: 5px;
}
.header-middle {
  background-color: #81e4ed;
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
}
.header-middle .first {
  background: url(img/layer.png) no-repeat right top #e05936;
}
.header-middle .second {
  background: url(img/layer.png) no-repeat right top #90ee90;
}
.header-middle .third {
  background: url(img/layer.png) no-repeat right top #800080;
}
.header-middle .tx {
  color: #ffffff;
  font-family: Lato;
  font-size: 3.125em;
  font-weight: 700;
  margin-top: 40%;
  margin-left: 50px;
}
.header-middle .cof {
  width: 100%;
  height: auto;
}
.header-middle .lay {
  width: 100%;
  height: 100%;
}
.header-middle .carousel-indicators {
  bottom: 0;
}
.header-middle .carousel {
  position: static;
}
.header-read-more {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #e8ebf1;
  padding: 30px 0;
}
.header-read-more h2 {
  color: #000000;
  font-family: 'Lato';
  font-size: 0.938em;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
}
.header-read-more .c:before {
  content: url(img/pencil.png);
  background: #2aacc8 ;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  margin-right: 20px;
  vertical-align: middle;
}
.header-read-more .resp:before {
  content: url(img/full.png);
  background: #2aacc8 ;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin-right: 20px;
  vertical-align: middle;
}
.header-read-more .f:before {
  content: url(img/view.png);
  background: #2aacc8 ;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin-right: 20px;
  vertical-align: middle;
}
.header-read-more .r:before {
  content: url(img/plane.png);
  background: #2aacc8 ;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  margin-right: 20px;
  vertical-align: middle;
}
.header-read-more p {
  color: #363636;
  font-family: 'Lato';
  font-size: 0.875em;
  font-weight: 400;
  font-size: 0.813em;
}
.header-read-more a {
  color: #363636;
  font-family: 'Lato';
  font-size: 0.875em;
  font-weight: 400;
  color: #2aacc8;
}
.header-read-more a:before {
  content: url(img/arrow.png);
  display: inline-block;
  margin-right: 10px;
}
.works {
  margin: 30px 0;
}
.works:after {
  content: '';
  border-bottom: 2px solid #dfe1e5;
  display: block;
  margin-top: 10px;
}
.works:before {
  content: '';
  border-top: 2px solid #dfe1e5;
  display: block;
  margin-bottom: 10px;
}
.works .size {
  width: 100%;
  height: auto;
}
.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  background-color: #2aacc8;
  width: 90%;
  margin: 0 15px;
  opacity: 0;
  text-align: center;
  line-height: 80px;
}
.item:hover .bg {
  -webkit-transition: 2s opacity;
  transition: 2s opacity;
  opacity: 1;
}
.clients {
  padding-bottom: 30px;
}
.clients h2 {
  color: #000000;
  font-family: 'Lato';
  font-size: 0.938em;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
}
.clients h2:before {
  content: url(img/comments.png);
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.clients .tx p {
  font-family: 'Lato';
  font-size: 0.875em;
  font-weight: 400;
  width: 380px;
  line-height: 20px;
  color: #363636;
}
.clients h3 {
  color: #000000;
  font-family: 'Lato';
  font-size: 0.938em;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 0.8em;
  text-transform: none;
  color: #363636;
}
.clients .item-decor {
  -webkit-box-shadow: inset 0 0 25px #e8ebf1;
          box-shadow: inset 0 0 25px #e8ebf1;
  border: 1px solid #e8ebf1;
  background-color: #ffffff;
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.clients .download {
  border: 1px solid #81e4ed;
  background-color: #e8fcfe;
  padding: 30px;
  margin-top: 30px;
}
.clients .download > p {
  color: #363636;
  font-family: 'Lato';
  font-size: 0.875em;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}
.clients .download .btn {
  display: inline-block;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
  border: 1px solid #2aacc8;
  background-color: #2aacc8;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2aacc8), color-stop(15%, #60cede), color-stop(50%, #72dae6), to(#81e4ed));
  background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
  text-align: center;
}
.clients .download .btn a {
  color: #000000;
  font-family: 'Lato';
  font-size: 0.938em;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.clients .download .btn a:before {
  content: url(img/download.png);
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
footer {
  background-color: #e8ebf1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 30px;
  padding-bottom: 40px;
}
footer h2 {
  color: #000000;
  font-family: 'Lato';
  font-size: 0.938em;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: #363636;
  font-family: 'Lato';
  font-size: 0.875em;
  font-weight: 400;
}
footer ul li a:hover {
  text-decoration: none;
}
footer .cont li {
  padding-bottom: 20px;
}
footer .cont li p {
  color: #363636;
  font-family: 'Lato';
  font-size: 0.875em;
  font-weight: 400;
}
footer .cont li span {
  font-weight: 900;
}
footer .contact {
  padding-left: 40px;
}
footer .contact a {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}
footer .footer-logo {
  margin-top: 30px;
}
footer .logo {
  color: #2aacc8;
  font-family: 'Lato';
  font-size: 3.333em;
  line-height: 20px;
  /* Text style for "Bis" */
  font-weight: 400;
}
footer .logo span {
  color: #000000;
  font-weight: 900;
}
/*# sourceMappingURL=s.css.map */