/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font: 16px/1.5 'Open Sans', Helvetica, Helvetica Neue, Arial, sans-serif;
  background-color: #2e2e30;
  color: #fff;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

/* Our CSS will go here */

.slidesContainer{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow:  hidden;
}
.slideContent{
    position:  absolute;
    left:  50%;
    top:  50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.slideContent h1{ 
    font-size: 24px;
    margin:  0 0 5px;
    line-height:  1em;
}

.slideContent p{ 
    font-size: 14px;
    color:  rgba(255,255,255,.7);
    margin:  0;
}
/* Project slides */

.slide{
    height: 100%;
    text-align: center;
    overflow:  hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity .3s linear, visibility .3s linear;
    background-color: red;
    transform: translateX(100%);
    opacity: 1;
    visibility: visible;
}

.loading .slide{
    opacity: 0;
    visibility: hidden;
}



.bcg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:  100%;
    height: 100%;
    opacity: .9;
    z-index:  1;
}

.slide01 .bcg{
    background-image: url(../img/img_slide01.jpg);
}
.slide02 .bcg{
    background-image: url(../img/img_slide02.jpg);
}
.slide03 .bcg{
    background-image: url(../img/img_slide03.jpg);
}
.slide04 .bcg{
    background-image: url(../img/img_slide04.jpg);
}

.slide04 .slideContent h1{
    color:  #222;
}
.slide04 .slideContent p{
    color:  rgba(0,0,0,.7);
}

/* navigation */

.nav{
    position:  fixed;
    bottom: 40px;
    right: 40px;
    left: 40px;
    list-style-type: none;
    z-index:  3;
    margin:  0;
    padding: 0;
    display: flex;
    justify-content:center;
}

.nav li{
    width:  25%;
    text-align:  center;
}

.nav a{
    color: #222;
    display: block;
    text-decoration:  none;
    padding:  8px 16px;
    font-size: 12px;
    border:  1px solid rgba(255,255,255,.7);
    border-width: 1px 0 1px 1px;
    background-color:  rgba(255,255,255, .2);
    transition: all .3s linear;
}

.nav li:last-child a{
    border-width: 1px;
}

.nav li.active a{
    background-color: rgba(255,255,255,.9);
}

.slide02-active .nav a{
    color:  #fff;
}

.slide02-active .nav a{
    color:  #fff;
}
.slide02-active .nav li.active a{
    color:  #222;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
        .slideContent h1{ 
            font-size: 60px;
            margin:  0 0 10px;
        }

        .slideContent p{ 
            font-size: 24px;
        }
        .nav a{
            font-size: 24px;
        }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}