@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
.flex {
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}
.fs16 {
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.fs18 {
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
header {
  background-color: #272727 ;
  width: 100%;
  height: 100vh;
}
header .shadow {
  background-image: url(img/head.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  box-shadow: inset 0 200px 200px 20px rgba(0, 0, 0, 0.4);
}
.wr {
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
.wr .nav {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  align-items: center;
  margin-bottom: 100px;
}
.wr .nav > h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
.wr .nav > ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.wr .nav > ul > li {
  margin-left: 30px;
}
.wr .nav > ul > li > a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
}
.wr .nav > ul > li > a:hover {
  opacity: 0.5;
}
.wr .nav > ul > li .tw {
  width: 15px;
  height: 12px;
}
.wr .nav > ul > li .fac {
  width: 15px;
  height: 12px;
}
.wr .cont > h2 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
}
.wr .cont > p {
  width: 560px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.wr .cont .choose {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  border-radius: 3px 2px 2px 3px;
  border: 2px solid #ffffff;
  padding: 15px 25px;
  text-decoration: none;
}
.learn {
  text-decoration: none;
  margin-right: 30px;
  padding: 15px 30px;
  border-radius: 2px 3px 3px 2px;
  background-color: #e92121;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.content {
  width: 100%;
}
.content:after {
  content: "";
  border-bottom: 1px solid #f1f1f1;
  width: 100%;
  margin: 50px 0;
  display: block;
}
.history {
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.history .our {
  display: flex;
  align-items: center;
  width: 50%;
  color: #464646;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
.history .tx {
  width: 50%;
}
.history .tx > p {
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 450px;
  line-height: 30px;
  margin-top: 30px;
}
.how {
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
  text-align: center;
  flex-direction: column;
}
.how > p {
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  width: 360px;
  margin: 0 auto;
}
.how .tables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.how .tb {
  width: 33.3333333%;
  text-align: left;
  margin-top: 50px;
}
.how .tb > h4 {
  color: #464646;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.how .tb > p {
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
h5 {
  color: #464646;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}
h5:after {
  content: url(img/after.png);
  margin: 0 auto;
  display: block;
  width: 60px;
}
.home:before {
  content: url(img/home.png);
  width: 60px;
  height: 60px;
  display: block;
}
.vol:before {
  content: url(img/vol.png);
  width: 60px;
  height: 60px;
  display: block;
}
.dol:before {
  content: url(img/dol.png);
  width: 60px;
  height: 60px;
  display: block;
}
.cal:before {
  content: url(img/cal.png);
  width: 60px;
  height: 60px;
  display: block;
}
.ok:before {
  content: url(img/ok.png);
  width: 60px;
  height: 60px;
  display: block;
}
.hurt:before {
  content: url(img/hurt.png);
  width: 60px;
  height: 60px;
  display: block;
}
.ring {
  width: 100%;
  height: 700px;
  background-color: #faf9f9;
  margin-top: 50px;
  position: relative;
}
.ring .wrap {
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.ring .wrap .picture {
  width: 50%;
  background-image: url(img/ring.png);
  width: 400px;
  height: 400px;
}
.ring .wrap .description {
  width: 50%;
}
.ring .wrap .description > h5:after {
  margin-left: 0;
}
.ring .wrap .description p {
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  width: 400px;
}
.ring .wrap .description .learn {
  margin-top: 30px;
  display: block;
  width: 80px;
}
.ring .back {
  position: absolute;
  background-image: url(img/back.png);
  width: 20px;
  height: 40px;
  left: 3%;
  top: 50%;
  line-height: 350px;
  cursor: pointer;
}
.ring .forw {
  position: absolute;
  background-image: url(img/forw.png);
  width: 20px;
  height: 40px;
  right: 3%;
  top: 50%;
  line-height: 350px;
  cursor: pointer;
}
.why {
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  height: 500px;
  padding-top: 30px;
}
.why .why-me {
  display: flex;
  align-items: center;
  width: 40%;
  color: #464646;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
.why .why-me h3 {
  width: 200px;
}
.why .trust {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.why .trust .sq {
  width: 50%;
}
.why .trust .sq h6 {
  color: #464646;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.why .trust .sq p {
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 200px;
}
.rings {
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  padding-bottom: 80px;
}
.rings .photos {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.rings .photos .photo {
  display: flex;
}
.rings .photos .photo .ph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 200px;
  background-image: #ffffff;
  box-shadow: inset 0px 0px 40px 8px rgba(0, 0, 0, 0.22);
}
.rings .photos .photo .ph img {
  width: 165px;
  height: 155px;
}
.rings .photos .jew {
  display: flex;
}
.rings .photos .jew .ph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 200px;
  background-image: #ffffff;
  box-shadow: inset 0px 0px 40px 8px rgba(0, 0, 0, 0.22);
}
.rings .photos .jew .ph img {
  width: 165px;
  height: 155px;
}
.rings .photos .jew .jewelery {
  width: 50%;
  display: flex;
  align-items: flex-end;
}
.rings .photos .jew h3 {
  color: #464646;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  margin-left: 30px;
  width: 60px;
}
.rings .photos .jew h3:after {
  content: url(img/after.png);
  margin: 0 auto;
  display: block;
  width: 60px;
}
.rings .as_with {
  display: flex;
  justify-content: space-between;
}
.rings .as_with p {
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 400px;
}
.comment {
  background-color: #faf9f9;
  width: 100%;
  padding-bottom: 30px;
}
.comment .com {
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  flex-direction: column;
}
.comment .com h5 {
  color: #464646;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 40px;
}
.comment .com h5:after {
  content: url(img/after.png);
  margin: 0 auto;
  display: block;
  width: 60px;
}
.comment .com p {
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.comment .com .table {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-bottom: 50px;
}
.comment .com .table .peop {
  text-align: left;
  width: 33.333333333%;
}
.comment .com .table .peop h1 {
  color: #464646;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.comment .com .table .peop h1:before {
  content: url(img/s.png);
  width: 30px;
  height: 30px;
  background-color: #e92121;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}
.comment .com .table .peop h2 {
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
  margin-left: 40px;
}
.comment .com .table .peop p {
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 220px;
  margin-left: 40px;
}
.conteiner {
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.conteiner .phblog {
  display: flex;
}
.conteiner .phblog .ph1 {
  width: 25%;
  background-size: cover;
  background-image: url(img/lake.png);
  height: 235px;
}
.conteiner .phblog .ph2 {
  width: 25%;
  background-size: cover;
  background-image: url(img/forest.png);
  height: 235px;
}
.conteiner .phblog .ph3 {
  width: 25%;
  background-size: cover;
  background-image: url(img/island.png);
  height: 235px;
}
.conteiner .phblog .ph4 {
  width: 25%;
  background-size: cover;
  background-image: url(img/sea.png);
  height: 235px;
}
.conteiner .phblog .ph5 {
  width: 25%;
  background-size: cover;
  background-image: url(img/palm.png);
  height: 235px;
}
.conteiner .phblog .ph6 {
  width: 25%;
  background-size: cover;
  background-image: url(img/car.png);
  height: 235px;
}
.conteiner .phblog .ourph {
  width: 50%;
  display: flex;
  align-items: flex-end;
}
.conteiner .phblog .ourph h3 {
  width: 40px;
  color: #464646;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
.conteiner .phblog .ourph h3:after {
  content: url(img/after.png);
  display: block;
  width: 60px;
}
.conteiner .like_any {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.conteiner .like_any p {
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 430px;
}
footer {
  width: 100%;
  background-color: #141414;
}
footer .conteiner {
  display: flex;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
}
footer .conteiner .social {
  display: flex;
  justify-content: space-between;
}
footer .conteiner .social h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
footer .conteiner .social li {
  display: inline-block;
  margin-left: 10px;
}
footer .conteiner .prod {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
footer .conteiner .prod ul {
  display: inline-block;
  margin-right: 20px;
}
footer .conteiner .prod ul li {
  margin-bottom: 5px;
}
footer .conteiner .prod ul li a {
  color: #474747;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  text-decoration: none;
}
footer .conteiner .prod ul li a:hover {
  text-decoration: underline;
  color: #474747;
}
footer .conteiner .prod .copy {
  color: #353434;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 196px;
}
